/* General */
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html,
body {
  height: 100%;
  background: #000;
}
html .container,
body .container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}
html a,
body a,
html a:hover,
body a:hover {
  text-decoration: none;
  color: inherit;
}
header {
  display: grid;
  margin: 0 auto;
  padding: 70px 40px 20px;
  color: #fff;
  grid-column-gap: 7rem;
  grid-row-gap: 2rem;
  background: #000;
}
@media all and (min-width: 680px) {
  header {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
}
header .header-block {
  display: inline-grid;
}
header .header-block.block1 {
  grid-row-end: span 2;
  justify-self: right;
}
@media all and (max-width: 680px) {
  header .header-block.block1 {
    justify-self: center;
  }
}
header .header-block.block2 h3 {
  font-size: 3em;
  line-height: 1.5em;
  font-family: 'Abel-Rugular';
}
header .header-block.block2 p {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: 'Abel-Rugular';
}
header .header-block.block3 h3 {
  font-size: 2em;
  line-height: 1.2em;
  font-family: 'Abel-Rugular';
  font-weight: 100;
}
header .header-block.block3 h3:before {
  content: '``';
  margin-left: -25px;
}
main {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: 'Abel-Rugular';
  background-color: #fff;
}
@media all and (max-width: 909px) {
  main section {
    padding: 0 40px 20px;
  }
}
@media all and (min-width: 909px) {
  main section {
    padding: 50px 150px 0;
  }
}
main section h4 {
  padding-top: 10px;
  border-bottom: 0.5px solid #000;
}
main section article {
  display: grid;
  grid-gap: 2rem;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 30px;
  padding-bottom: 0;
}
main section article#skills {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
}
@media all and (min-width: 1425px) {
  main section article#skills {
    grid-template-columns: repeat(5, minmax(148px, 1fr));
  }
}
main section article#personal-skill {
  grid-template-columns: repeat(2, minmax(500px, 1fr));
}
@media all and (max-width: 1370px) {
  main section article#personal-skill {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}
main section article#social {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  padding-bottom: 50px;
  max-width: 1000px;
  margin: 0 auto;
}
main section article#social div p {
  padding-top: 65px;
  text-align: center;
}
main section article div {
  display: inline-grid;
}
main section article div#photoshop {
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-adobe-photoshop.png");
}
main section article div#illustrator {
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-adobe-illustrator.png");
}
main section article div#muse {
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-adobe-muse.png");
}
main section article div#indesign {
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-adobe-indesign.png");
}
main section article div#dreamviewer {
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-adobe-dreamviewer.png");
}
main section article div#html {
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-code-html.png");
}
main section article div#css {
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-code-css.png");
}
main section article div#javacript {
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-code-javascript.png");
}
main section article div#php {
  width: 130px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-code-php.png");
}
main section article div#python {
  width: 150px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/icon-code-python.png");
}
main section article div#personal-skills {
  justify-items: right;
}
@media all and (min-width: 910px) and (max-width: 1370px) {
  main section article div#personal-skills {
    justify-items: left;
    justify-self: left;
  }
}
main section article div#personal-skills p:nth-child(1) {
  width: 500px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/progress-bar-creativity.png");
}
@media all and (max-width: 590px) {
  main section article div#personal-skills p:nth-child(1) {
    width: 300px;
  }
}
main section article div#personal-skills p:nth-child(2) {
  width: 500px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/progress-bar-social.png");
}
@media all and (max-width: 590px) {
  main section article div#personal-skills p:nth-child(2) {
    width: 300px;
  }
}
main section article div#personal-skills p:nth-child(3) {
  width: 500px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/progress-bar-leadership.png");
}
@media all and (max-width: 590px) {
  main section article div#personal-skills p:nth-child(3) {
    width: 300px;
  }
}
main section article div#personal-skills p:nth-child(4) {
  width: 500px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/progress-bar-passion.png");
}
@media all and (max-width: 590px) {
  main section article div#personal-skills p:nth-child(4) {
    width: 300px;
  }
}
main section article div#facebook {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50px 60px;
  background-position: top center;
  background-image: url("../images/icon-facebook.png");
}
main section article div#twitter {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50px 60px;
  background-position: top center;
  background-image: url("../images/icon-twitter.png");
}
main section article div#instagram {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50px 60px;
  background-position: top center;
  background-image: url("../images/icon-instagram.png");
}
main section article div#behance {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50px 60px;
  background-position: top center;
  background-image: url("../images/icon-behance.png");
}
main section article div#dribble {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50px 60px;
  background-position: top center;
  background-image: url("../images/icon-dribble.png");
}
main section article div#pinterest {
  width: 100%;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 50px 60px;
  background-position: top center;
  background-image: url("../images/icon-pinterest.png");
}
main section article div.last-child {
  justify-self: left;
}
@media all and (max-width: 909px) {
  main section article {
    -webkit-box-pack: left;
    -o-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    justify-items: left;
    padding-left: 0;
  }
}
@font-face {
  font-family: 'Abel-Rugular';
  src: url("../fonts/Abel-Regular.ttf");
}
