@import "general";

#wrapper {
  min-width: 500px;
  header {
    width: 100%;
    height: 800px;
    min-height: 600px;
    background: url("../images/bg-header.png") no-repeat top center;
    background-size: cover;
    nav {
      display: flex;
      padding-top: 35px;
      flex-direction: row;
      justify-content: center;
      ul {
        width: 100%;
        display: flex;
        max-width: 630px;
        align-items: center;
        justify-content: space-between;
        li {
          list-style: @none;
          display: inline-flex;
          a {
            .uppercase;
            color: #4d4959;
            font: 0.813em 'Lato-Bold';
          }
        }
      }
    }
  }
  section {
    &#about-us {
      width: 100%;
      display: flex;
      padding: 0 40px;
      min-height: 470px;
      align-content: center;
      flex-direction: column;
      background-color: @bg-color;
      p {
        &.title-icon {
          span {
            width: 52px;
            height: 43px;
            background: url("../images/about-us-title-icon.png") no-repeat center;
          }
        }
        &.description { margin-bottom: 140px; }
      }
    }
    &#gallery {
      width: 100%;
      min-height: 600px;
      div#gallery-row1 {
        display: flex;
        flex-direction: row;
        @media (max-width: 1000px) { flex-direction: column; }
        p {
          &.title-icon {
            margin-top: 70px;
            span {
              width: 41px;
              height: 30px;
              background: url("../images/gallery-title-icon1.png") no-repeat center;
            }
          }
        }
        div.bg-image {
          width: 100%;
          position: relative;
          background: url("../images/bike-gallery-image1.png") no-repeat;
          background-size: cover;
          @media (max-width: 1000px) {
            height: 400px;
          }
          img.brooch-logo {
            top: 40%;
            left: 45%;
            width: 113px;
            height: 118px;
            position: absolute;
          }
        }
        div.gallery-description {
          flex-basis: 1000px;
          background-color: @white-color;
          @media (max-width: 1000px) { flex-basis: auto; }
          div.gallery-description {
            padding: 0 50px 0;
          }
          div.bg-image {
            width: 100%;
            height: 200px;
            background: url("../images/bike-gallery-image2.png") no-repeat;
            background-size: cover;
            @media (max-width: 1000px) {
              height: 400px;
              background-size: contain;
            }
          }
        }
      }
      div#gallery-row2 {
        display: flex;
        flex-direction: row-reverse;
        @media (max-width: 1000px) { flex-direction: column; }
        p {
          &.title-icon {
            margin-top: 70px;
            span {
              width: 32px;
              height: 32px;
              background: url("../images/gallery-title-icon2.png") no-repeat center;
            }
          }
        }
        div.bg-image {
          width: 100%;
          position: relative;
          background: url("../images/bike-gallery-image3.png") no-repeat;
          background-size: cover;
          @media (max-width: 1000px) {
            height: 400px;
          }
          img.brooch-logo {
            top: 40%;
            left: 40%;
            width: 177px;
            height: 152px;
            position: absolute;
          }
        }
        div.gallery-description {
          flex-basis: 1000px;
          background-color: @white-color;
          @media (max-width: 1000px) { flex-basis: auto; }
          div.gallery-description {
            padding: 0 50px 0;
          }
          div.bg-image {
            width: 100%;
            height: 200px;
            background: url("../images/bike-gallery-image4.png") no-repeat center;
            background-size: cover;
            @media (max-width: 1000px) {
              height: 400px;
              background-size: contain;
            }
          }
        }
      }
      div#gallery-row3 {
        display: flex;
        flex-direction: row;
        @media (max-width: 1300px) { flex-direction: column; }
        p {
          &.title-icon {
            margin-top: 70px;
            span {
              width: 23px;
              height: 41px;
              background: url("../images/gallery-title-icon3.png") no-repeat center;
            }
          }
        }
        div.bg-image {
          width: 100%;
          position: relative;
          &:first-child {
            background: url("../images/bike-gallery-image5.png") no-repeat;
            background-size: cover;
          }
          &:last-child {
            background: url("../images/bike-gallery-image6.png") no-repeat;
            background-size: cover;
          }
          @media (max-width: 1300px) {
            height: 400px;
          }
          img.brooch-logo {
            top: 40%;
            left: 28%;
            width: 208px;
            height: 67px;
            position: absolute;
            @media (max-width: 1300px) {
              left: 40%;
            }
            @media (min-width: 500px) and (max-width: 900px) {
              left: 33%;
            }
          }
        }
        div.gallery-description {
          background-color: @white-color;
          div.gallery-description {
            padding: 0 50px 0;
          }
          div.bg-image {
            width: 100%;
            height: 200px;
            background: url("../images/bike-gallery-image7.png") no-repeat;
            background-size: cover;
            @media (max-width: 1300px) {
              height: 400px;
            }
          }
        }
      }
    }
    &#opinion {
      p {
        &.title-icon {
          span {
            width: 32px;
            height: 27px;
            background: url("../images/opinion-icon.png") no-repeat center;
          }
        }
        &.description {
          padding: 0 30px;
          max-width: 950px;
          font-style: italic;
          margin: 0 auto 140px;
        }
      }
      h5 {
        margin: 40px auto 25px;
        text-align: center;
        font: 1.125em 'Lato-Bold';
        span {
          color: @text-color;
          font-family: 'Lato-Light', sans-serif;
        }
      }
    }
    &#second-gallery {
      width: 100%;
      display: flex;
      flex-direction: row;
      @media (max-width: 1000px) {
        margin: 0 auto;
        max-width: 500px;
        flex-direction: column;
      }
      .gallery-item {
        display: flex;
        flex-direction: column;
        &.item1 {
          width: 100%;
          div.gallery-item1 {
            display: flex;
            flex-direction: row;
            div {
              &:first-child {
                width: 100%;
                height: 267px;
                //max-width: 267px;
                display: inline-flex;
                background: url(../images/second-gallery-image1.png) no-repeat center;
                background-size: cover;
                &:hover span { opacity: 1; }
              }
              &:last-child {
                width: 100%;
                height: 267px;
                //max-width: 267px;
                display: inline-flex;
                background: url(../images/second-gallery-image2.png) no-repeat center;
                background-size: cover;
                &:hover span { opacity: 1; }
              }
            }
          }
          div.gallery-item2 {
            width: 100%;
            height: 267px;
            position: relative;
            background: url(../images/second-gallery-image3.png) no-repeat center;
            background-size: cover;
            span.hover {
              a { img { padding: 20% 0 15px; } }
            }
            &:hover span { opacity: 1; }
          }
        }
        &.item2 {
          width: 100%;
          flex-direction: row;
          div.gallery-item1 {
            width: 100%;
            height: 534px;
            position: relative;
            background: url(../images/second-gallery-image4.png) no-repeat center;
            background-size: cover;
            span.hover {
              a { img { padding: 90% 0 15px; } }
            }
            &:hover span { opacity: 1; }
          }
          div.gallery-item2 {
            width: 100%;
            height: 534px;
            position: relative;
            background: url(../images/second-gallery-image5.png) no-repeat center;
            background-size: cover;
            span.hover {
              a { img { padding: 90% 0 15px; } }
            }
            &:hover span { opacity: 1; }
          }
        }
        &.item3 {
          width: 100%;
          div.gallery-item1 {
            display: flex;
            flex-direction: row-reverse;
            div {
              &:first-child {
                width: 100%;
                height: 267px;
                //max-width: 267px;
                position: relative;
                display: inline-flex;
                background: url(../images/second-gallery-image7.png) no-repeat center;
                background-size: cover;
                &:hover span { opacity: 1; }
              }
              &:last-child {
                width: 100%;
                height: 267px;
                //max-width: 267px;
                position: relative;
                display: inline-flex;
                background: url(../images/second-gallery-image8.png) no-repeat center;
                background-size: cover;
                &:hover span { opacity: 1; }
              }
            }
          }
          div.gallery-item2 {
            width: 100%;
            height: 267px;
            position: relative;
            background: url(../images/second-gallery-image6.png) no-repeat center;
            background-size: cover;
            span.hover {
              a { img { padding: 20% 0 15px; } }
            }
            &:hover span { opacity: 1; }
          }
        }
      }
    }
    &#discover {
      text-align: center;
      background-color: #282f35;
      button {
        .uppercase;
        padding: 1em 4em;
        margin: 75px auto;
        color: @white-color;
        letter-spacing: 2px;
        font: 0.875em 'Lato-Bold';
        background-color: inherit;
        border: 1px solid @white-color;
      }
    }
    &#feedback {
      background-color: @white-color;
      p {
        text-align: center;
        img { margin: 100px auto 35px; }
        &.description { font-style: italic; }
      }
      div#form {
        display: flex;
        flex-direction: row;
        margin: 35px auto 0;
        padding-bottom: 110px;
        justify-content: center;
        button {
          .uppercase;
          border: @none;
          padding: 1em 2em;
          color: @white-color;
          font: 1.2em 'Lato-Light';
          background-color: #64c29e;
        }
        input {
          padding: 20px;
          margin: 0 7px;
          color: @text-color;
          border: 1px solid #d3d7d9;
          font: italic 1em 'Lato-Regular';
          &::placeholder {
            color: @text-color;
          }
        }
      }
    }
  }
}

@import "import-fonts";