* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
html,
body {
  height: 100%;
  min-width: 450px;
  background: #fafafa;
}
html a,
body a,
html a:hover,
body a:hover {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  background: url("../images/bg-header.png") no-repeat top center;
  background-size: cover;
}
@media all and (max-width: 940px) {
  header {
    flex-direction: column-reverse;
  }
}
header div {
  margin: 100px 30px 0;
}
header div:first-child {
  width: 413px;
  height: 538px;
  background: url("../images/logo-iphone.png") no-repeat top center;
}
@media all and (max-width: 940px) {
  header div:first-child {
    width: 213px;
    height: 277px;
    margin: 30px auto 0;
    background-size: contain;
  }
}
header div:last-child {
  padding-top: 75px;
}
@media all and (max-width: 940px) {
  header div:last-child {
    padding-top: 0;
    margin: 30px auto 0;
  }
}
header div:last-child h1 {
  color: #fff;
  font: 2em 'Lato-Light';
}
header div:last-child h2 {
  color: #fff;
  margin-bottom: 75px;
  font: 1.875em 'Open-Sans-Condensed-Bold';
}
header div:last-child p {
  margin-top: 25px;
  color: #383838;
  font: 0.875em 'Helvetica 65 Medium';
}
#tools {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#tools h2 {
  font-size: 2.25em;
  padding-top: 92px;
  text-align: center;
  color: #1b1b1b;
  text-transform: capitalize;
  font-family: 'Lato-Light', sans-serif;
}
#tools p {
  margin-top: 20px;
  color: #999;
  font: 1.125em 'Lato-Regular';
  line-height: 1.5em;
}
#tools #tool-gallery {
  display: flex;
  margin: 0 auto;
  margin-top: 90px;
  flex-direction: row;
  justify-content: center;
}
@media all and (max-width: 840px) {
  #tools #tool-gallery {
    margin-top: 20px;
    flex-direction: column-reverse;
  }
}
#tools #tool-gallery div {
  margin: 16px;
  width: 100%;
  max-width: 360px;
  padding-top: 130px;
}
@media all and (max-width: 840px) {
  #tools #tool-gallery div {
    margin: 16px auto;
  }
}
#tools #tool-gallery div h4 {
  text-align: center;
  color: #202d33;
  font: 1.5em 'Lato-Regular';
}
#tools #tool-gallery div p {
  margin-bottom: 90px;
  margin-top: 20px;
  color: #999;
  font: 1em 'Lato-Regular';
  line-height: 1.5em;
}
@media all and (max-width: 840px) {
  #tools #tool-gallery div p {
    margin-bottom: 10px;
  }
}
#tools #tool-gallery div:nth-child(1) {
  background: url("../images/calendar-icon.png") no-repeat top center;
}
#tools #tool-gallery div:nth-child(2) {
  background: url("../images/time-icon.png") no-repeat top center;
}
#tools #tool-gallery div:nth-child(3) {
  background: url("../images/users-icon.png") no-repeat top center;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-BdCn';
  src: url("../fonts/HelveticaNeueLTStd-BdCn.otf");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: 'Open-Sans-Condensed-Bold';
  src: url("../fonts/Open-Sans-Condensed-Bold.ttf");
}
