* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
html,
body {
  height: 100%;
  min-width: 450px;
  background: #fafafa;
}
html a,
body a,
html a:hover,
body a:hover {
  text-decoration: none;
  color: inherit;
}
header {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  justify-content: center;
  background: url("../images/bg-header.png") no-repeat top center;
  background-size: cover;
}
@media all and (max-width: 940px) {
  header {
    flex-direction: column-reverse;
  }
}
header div {
  margin: 100px 30px 0;
}
header div:first-child {
  width: 413px;
  height: 538px;
  background: url("../images/logo-iphone.png") no-repeat top center;
}
@media all and (max-width: 940px) {
  header div:first-child {
    width: 213px;
    height: 277px;
    margin: 30px auto 0;
    background-size: contain;
  }
}
header div:last-child {
  padding-top: 75px;
}
@media all and (max-width: 940px) {
  header div:last-child {
    padding-top: 0;
    margin: 30px auto 0;
  }
}
header div:last-child h1 {
  color: #fff;
  font: 2em 'Lato-Light';
}
header div:last-child h2 {
  color: #fff;
  margin-bottom: 75px;
  font: 1.875em 'Open-Sans-Condensed-Bold';
}
header div:last-child p {
  margin-top: 25px;
  color: #383838;
  font: 0.875em 'Helvetica 65 Medium';
}
#tools {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#tools h2 {
  font-size: 2.25em;
  padding-top: 92px;
  text-align: center;
  color: #1b1b1b;
  text-transform: capitalize;
  font-family: 'Lato-Light', sans-serif;
}
#tools p {
  margin-top: 20px;
  color: #999;
  font: 1.125em 'Lato-Semibold';
  line-height: 1.5em;
}
#tools #tool-gallery {
  display: flex;
  margin: 0 auto;
  margin-top: 90px;
  flex-direction: row;
  justify-content: center;
}
@media all and (max-width: 840px) {
  #tools #tool-gallery {
    margin-top: 20px;
    flex-direction: column-reverse;
  }
}
#tools #tool-gallery div {
  margin: 16px;
  width: 100%;
  max-width: 360px;
  padding-top: 130px;
}
@media all and (max-width: 840px) {
  #tools #tool-gallery div {
    margin: 16px auto;
  }
}
#tools #tool-gallery div h4 {
  text-align: center;
  color: #202d33;
  font: 1.5em 'Lato-Semibold';
}
#tools #tool-gallery div p {
  margin-bottom: 90px;
  margin-top: 20px;
  color: #999;
  font: 1em 'Lato-Semibold';
  line-height: 1.5em;
}
@media all and (max-width: 840px) {
  #tools #tool-gallery div p {
    margin-bottom: 10px;
  }
}
#tools #tool-gallery div:nth-child(1) {
  background: url("../images/calendar-icon.png") no-repeat top center;
}
#tools #tool-gallery div:nth-child(2) {
  background: url("../images/time-icon.png") no-repeat top center;
}
#tools #tool-gallery div:nth-child(3) {
  background: url("../images/users-icon.png") no-repeat top center;
}
figure#three-iphone {
  display: flex;
  justify-content: center;
}
figure#three-iphone img {
  width: 100%;
  height: 100%;
  max-width: 687px;
}
@media all and (max-width: 840px) {
  figure#three-iphone img {
    width: 50%;
    margin-top: 20px;
  }
}
#features {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}
#features h2 {
  font-size: 2.25em;
  padding-top: 92px;
  text-align: center;
  color: #1b1b1b;
  text-transform: capitalize;
  font-family: 'Lato-Light', sans-serif;
}
#features p {
  margin-bottom: 60px;
  margin-top: 20px;
  color: #999;
  font: 1.125em 'Lato-Semibold';
  line-height: 1.5em;
}
#features #features-gallery {
  display: flex;
  text-align: center;
  flex-direction: row;
  margin-bottom: 150px;
  justify-content: center;
}
@media all and (max-width: 840px) {
  #features #features-gallery {
    margin: 0 auto;
    flex-direction: column;
  }
}
#features #features-gallery .container {
  flex-direction: column;
}
#features #features-gallery .container .feature-item {
  display: flex;
  text-align: left;
  max-width: 500px;
  margin: 0 20px;
}
#features #features-gallery .container .feature-item figure {
  flex: none;
  width: 67px;
  height: 67px;
}
#features #features-gallery .container .feature-item .feature-item-text {
  flex: auto;
  margin-left: 15px;
}
#features #features-gallery .container .feature-item .feature-item-text h5 {
  margin-top: 0;
  color: #383838;
  font: 1.125em 'Lato-Semibold';
  line-height: 1.5em;
}
#features #features-gallery .container .feature-item .feature-item-text p {
  margin-bottom: 30px;
  margin-top: 0;
  color: #999;
  font: 1em 'Lato-Semibold';
  line-height: 1.5em;
}
#jumbotron {
  display: flex;
  height: 320px;
  justify-content: center;
  background: url("../images/jumbotron.png") no-repeat center center;
  background-size: cover;
}
#jumbotron #shadow-text {
  margin: auto;
  padding: 20px;
  max-width: 555px;
  background-color: rgba(0,0,0,0.8);
}
#jumbotron #shadow-text p {
  display: inline;
  margin-top: 0;
  color: #fff;
  font: 1.125em 'Lato-Semibold';
  line-height: 1.5em;
}
#jumbotron #shadow-text span {
  margin-top: 0;
  color: #999;
  font: 0.75em 'Lato-Semibold';
  line-height: 1.5em;
}
#our-team h2 {
  font-size: 2.25em;
  padding-top: 92px;
  text-align: center;
  color: #1b1b1b;
  text-transform: capitalize;
  font-family: 'Lato-Light', sans-serif;
}
#our-team p {
  text-align: center;
  margin-bottom: 45px;
  margin-top: 15px;
  color: #999;
  font: 1.125em 'Lato-Semibold';
  line-height: 1.5em;
}
#our-team #team-gallery {
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
  justify-content: center;
}
@media all and (max-width: 1030px) {
  #our-team #team-gallery {
    flex-direction: column;
  }
}
#our-team #team-gallery .team-item {
  display: flex;
  margin: 0 40px;
  flex-direction: row;
}
@media all and (max-width: 1190px) {
  #our-team #team-gallery .team-item {
    margin: 0 10px;
  }
}
@media all and (max-width: 1030px) {
  #our-team #team-gallery .team-item {
    margin: 10px auto;
  }
}
#our-team #team-gallery .team-item figure {
  flex: none;
}
#our-team #team-gallery .team-item .team-item-text {
  flex: auto;
  margin: auto;
  margin-left: 15px;
}
#our-team #team-gallery .team-item .team-item-text h5 {
  margin-top: 0;
  color: #383838;
  font: 1.125em 'Lato-Semibold';
  line-height: 1.5em;
}
#our-team #team-gallery .team-item .team-item-text p {
  margin-bottom: 10px;
  margin-top: 0;
  color: #999;
  font: 1em 'Lato-Semibold';
  line-height: 1.5em;
}
#our-team hr {
  height: 2px;
  border: none;
  color: #d7d7d7;
  background: #d7d7d7;
}
footer {
  display: flex;
  padding: 50px 0;
  flex-direction: row;
  justify-content: space-around;
}
@media all and (max-width: 780px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
}
footer #logo {
  color: #d6d6d6;
  font: 2em 'HelveticaNeueLTStd-BdCn';
}
@media all and (max-width: 780px) {
  footer #logo {
    text-align: center;
    margin-bottom: 20px;
  }
}
footer nav {
  flex-direction: row;
}
@media all and (max-width: 780px) {
  footer nav {
    justify-content: center;
    display: inline-flex;
  }
}
footer nav ul {
  display: inline-flex;
}
footer nav ul li {
  list-style: none;
  margin: 0 15px;
}
footer nav ul li a {
  margin-top: 0;
  color: #999;
  font: 1.25em 'Lato-Semibold';
  line-height: 1.5em;
}
footer nav ul li:hover {
  color: #999;
}
@media all and (max-width: 780px) {
  footer #social {
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
}
footer #social a {
  margin: 0 10px;
}
@font-face {
  font-family: 'HelveticaNeueLTStd-BdCn';
  src: url("../fonts/HelveticaNeueLTStd-BdCn.otf");
}
@font-face {
  font-family: 'Lato-Light';
  src: url("../fonts/Lato-Light.ttf");
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato-Semibold.ttf");
}
@font-face {
  font-family: 'Open-Sans-Condensed-Bold';
  src: url("../fonts/Open-Sans-Condensed-Bold.ttf");
}
