$white-color = #fff
$darker-white-color = #fafafa
$gray-color = #999999
$almost-black = #383838
$dark-blue-color = #202d33
$dark-gray-color = #1b1b1b
$black-color = #000
$zero = 0
$none = none

uppercase(text-transform = uppercase)
  text-transform uppercase