$white-color = #fff
$darker-white-color = #fafafa
$gray-color = #999999
$almost-black = #383838
$dark-blue-color = #202d33
$dark-gray-color = #1b1b1b
$black-color = #000
$zero = 0
$none = none

uppercase(text-transform = uppercase)
  text-transform uppercase

title()
  font-size 2.25em
  padding-top 92px
  text-align center
  color $dark-gray-color
  text-transform capitalize
  font-family 'Lato-Light', sans-serif

h4-tool-title()
  text-align center
  color $dark-blue-color
  font 1.5em 'Lato-Regular'

p-text(margin, color, font)
  margin-top margin
  color color
  font font
  line-height: 1.5em