@import "general.styl"

*
  margin: $zero
  padding: $zero
  outline: $none
  box-sizing: border-box
  transition: all .3s ease-in-out

html, body
  height: 100%
  min-width 450px
  background $darker-white-color

  a, a:hover
    text-decoration $none
    color inherit

header
  display flex
  margin 0 auto
  flex-direction row
  justify-content center
  background url("../images/bg-header.png") no-repeat top center
  background-size cover

  @media all and (max-width 940px) { flex-direction column-reverse }

  div
    margin 100px 30px 0
    &:first-child {
      width 413px
      height 538px
      background url("../images/logo-iphone.png") no-repeat top center
      @media all and (max-width 940px) {
        width: 213px;
        height: 277px;
        margin: 30px auto 0;
        background-size: contain;
      }
    }
    &:last-child {
      padding-top 75px
      @media all and (max-width 940px) {
        padding-top 0
        margin 30px auto 0
      }
      h1 {
        color $white-color
        font 2em 'Lato-Light'
      }
      h2 {
        color $white-color
        margin-bottom 75px
        font 1.875em 'Open-Sans-Condensed-Bold'
      }
      p {
        margin-top 25px
        color $almost-black
        font 0.875em 'Helvetica 65 Medium'
      }
    }


#tools
  display flex
  text-align center
  flex-direction column
  justify-content center
  h2
    title()
  p
    p-text( 20px, $gray-color, 1.125em 'Lato-Regular' )
  #tool-gallery
    display flex
    margin 0 auto
    margin-top 90px
    flex-direction row
    justify-content center
    @media all and (max-width 840px)
      margin-top 20px
      flex-direction column-reverse
    div
      margin 16px
      width: 100%
      max-width 360px
      padding-top 130px
      @media all and (max-width 840px)
        margin 16px auto
      h4
        h4-tool-title()
      p
        margin-bottom: 90px;
        p-text( 20px, $gray-color, 1em 'Lato-Regular' )
        @media all and (max-width 840px)
          margin-bottom: 10px;
      &:nth-child(1)
        background url("../images/calendar-icon.png") no-repeat top center
      &:nth-child(2)
        background url("../images/time-icon.png") no-repeat top center
      &:nth-child(3)
        background url("../images/users-icon.png") no-repeat top center

@import "import-fonts.styl"