@import "general.styl"

*
  margin: $zero
  padding: $zero
  outline: $none
  box-sizing: border-box
  transition: all .3s ease-in-out

html, body
  height: 100%
  min-width 450px
  background $darker-white-color

  a, a:hover
    text-decoration $none
    color inherit

header
  display flex
  margin 0 auto
  flex-direction row
  justify-content center
  background url("../images/bg-header.png") no-repeat top center
  background-size cover

  @media all and (max-width 940px) { flex-direction column-reverse }

  div
    margin 100px 30px 0
    &:first-child {
      width 413px
      height 538px
      background url("../images/logo-iphone.png") no-repeat top center
      @media all and (max-width 940px) {
        width: 213px;
        height: 277px;
        margin: 30px auto 0;
        background-size: contain;
      }
    }
    &:last-child {
      padding-top 75px
      @media all and (max-width 940px) {
        padding-top 0
        margin 30px auto 0
      }
      h1 {
        color $white-color
        font 2em 'Lato-Light'
      }
      h2 {
        color $white-color
        margin-bottom 75px
        font 1.875em 'Open-Sans-Condensed-Bold'
      }
      p {
        margin-top 25px
        color $almost-black
        font 0.875em 'Helvetica 65 Medium'
      }
    }


#tools
  display flex
  text-align center
  flex-direction column
  justify-content center
  h2
    title()
  p
    p-text( 20px, $gray-color, 1.125em 'Lato-Semibold' )
  #tool-gallery
    display flex
    margin 0 auto
    margin-top 90px
    flex-direction row
    justify-content center
    @media all and (max-width 840px)
      margin-top 20px
      flex-direction column-reverse
    div
      margin 16px
      width: 100%
      max-width 360px
      padding-top 130px
      @media all and (max-width 840px)
        margin 16px auto
      h4
        h4-tool-title()
      p
        margin-bottom: 90px;
        p-text( 20px, $gray-color, 1em 'Lato-Semibold' )
        @media all and (max-width 840px)
          margin-bottom: 10px;
      &:nth-child(1)
        background url("../images/calendar-icon.png") no-repeat top center
      &:nth-child(2)
        background url("../images/time-icon.png") no-repeat top center
      &:nth-child(3)
        background url("../images/users-icon.png") no-repeat top center

figure#three-iphone
  display flex
  justify-content center
  img
    width 100%
    height 100%
    max-width 687px
    @media all and (max-width 840px)
      width 50%
      margin-top 20px

#features
  display flex
  text-align center
  flex-direction column
  justify-content center
  h2
    title()
  p
    margin-bottom 60px
    p-text( 20px, $gray-color, 1.125em 'Lato-Semibold' )
  #features-gallery
    display flex
    text-align center
    flex-direction row
    margin-bottom: 150px;
    justify-content center
    @media all and (max-width 840px)
      margin: 0 auto;
      flex-direction column
    .container
      flex-direction column
      .feature-item
        display flex
        text-align left
        max-width 500px
        margin 0 20px
        figure
          flex none
          width 67px
          height 67px
        .feature-item-text
          flex auto
          margin-left 15px
          h5
            p-text( 0, $almost-black, 1.125em 'Lato-Semibold' )
          p
            margin-bottom 30px
            p-text( 0, $gray-color, 1em 'Lato-Semibold' )

#jumbotron
  display flex
  height 320px
  justify-content center
  background url("../images/jumbotron.png") no-repeat center center
  background-size cover
  #shadow-text
    margin auto
    padding: 20px
    max-width 555px
    background-color rgba(0, 0, 0, 0.8)
    p
      display inline
      p-text( 0, $white-color, 1.125em 'Lato-Semibold' )
    span
      p-text( 0, $gray-color, 0.75em 'Lato-Semibold' )
@import "import-fonts.styl"