@import "general";

@media screen and (max-width: 820px) {
  #wrapper { min-width: 350px; }

  .nav {
    li {
      display: @none;
      margin: @zero;
    }

    a { padding-right: 35px; }

    .hamburger {
      display: block;
    }

    &:hover {
      li {
        display: block;
        float: @none !important;
        padding-bottom: 15px;
        text-align: right;

        a { text-align: right; }
      }

      .hamburger {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  #jumbotron {
    p.iphone {
      margin-right: 50px;
    }
  }
}

@media screen and (min-width: 870px) {
  #jumbotron {
    p.iphone {
      margin-top: -286px;
      margin-bottom: -5px;
      float: right;
    }
  }
}

@media screen and (max-width: 870px) {
  #jumbotron {
    p.iphone {
      margin-top: -70px;
      float: none;
      margin-bottom: -5px;
    }
  }
}

@media screen and (min-width: 45em) and (max-width: 60em) {
  :root { --width: calc( (60vw - 2rem) / 2 ); }
  .our-work-gallery { grid-template-columns: repeat( 3, var(--width) ); }
}

@media screen and (min-width: 60em) {
  :root { --width: calc( (65em) / 3 ); }
  .our-work-gallery { grid-template-columns: repeat( 3, var(--width) ); }
}