@import "general";
/* Nav */
@media screen and (max-width: 820px) {
  #wrapper { min-width: 350px; }

  .nav {
    li {
      display: @none;
      margin: @zero;
    }

    a { padding-right: 35px; }

    .hamburger {
      display: block;
    }

    &:hover {
      li {
        display: block;
        float: @none !important;
        padding-bottom: 15px;
        text-align: right;

        a { text-align: right; }
      }

      .hamburger {
        display: none;
      }
    }
  }
}

/* Jumbotron */
@media screen and (min-width: 1000px) {
  #jumbotron {
    p.iphone {
      margin-right: 50px;
    }
  }
}

@media screen and (min-width: 870px) {
  #jumbotron {
    p.iphone {
      margin-top: -286px;
      margin-bottom: -5px;
      float: right;
    }
  }
}

@media screen and (max-width: 870px) {
  #jumbotron {
    p.iphone {
      margin-top: -70px;
      float: none;
      margin-bottom: -5px;
    }
  }
}

/* Our clients */
@media screen and (max-width: 45em) {
  .our-clients-gallery {
    grid-template-columns: repeat( 1, calc(60vw / 2));
    grid-auto-rows: calc(170 * (60vw / 2) / 530);
    justify-content: center;
    grid-row-gap: 25px;
    padding-bottom: 30px;

    .our-clients-gallery-item {
      margin: 0 auto;
    }
  }
  .our-work-gallery {
    grid-template-columns: repeat(1, calc(90vw / 2));
  }
}

/* Our clients & Our work & Statistics & Our Skills */
@media screen and (min-width: 45em) {
  .our-clients-gallery {
    grid-template-columns: repeat(5, calc(26vw / 2));
    grid-auto-rows: calc(170 * (30vw / 2) / 530);
    padding-top: 75px;
    padding-bottom: 130px;
  }
  .our-work-gallery {
    grid-template-columns: repeat(3, calc(56vw / 2));
    grid-auto-rows: var(--height);
  }
  #statistics {
    .container {
      grid-template-columns: repeat(5, calc(30vw / 2));
      padding: 105px 0;
    }
  }
  .our-skills-gallery {
    grid-template-columns: repeat(2, calc(66vw / 2));
  }
}

@media screen and (min-width: 45em) and (max-width: 60em) {
  :root { --width: calc( (60vw - 2rem) / 2 ); }
}

@media screen and (min-width: 60em) {
  :root { --width: calc( (65em) / 3 ); }
}

/* Our services */
@media screen and (max-width: 72.5em) {
  :root { --width: calc((50em) / 2 ); }
  .our-services-gallery {
    grid-template-columns: repeat(1, calc(100vw / 2));

    .our-services-gallery-item {
      &.item1 { background-size: 25%; }
      &.item2 { background-size: 55%; }
      &.item3 { background-size: 45%; }
    }
  }
}

@media screen and (min-width: 72.5em) {
  .our-services-gallery {
    grid-template-columns: repeat(3, calc(45vw / 2));
    grid-auto-rows: calc(116 * ((65vw) / 2) / 132);

    .our-services-gallery-item {
      &.item1 { background-size: 10%; }
      &.item2 { background-size: 22%; }
      &.item3 { background-size: 18%; }
    }
  }
}