$zero = 0
$none = none
$white-color = #fff
$black-color = #000
$dark-gray-color = #282828

uppercase(text-transform = uppercase)
  text-transform uppercase

button-decorate()
  uppercase();
  border $none
  width: 300px
  padding 10px 20px
  border-radius 30px
  font-family 'Montserrat-Bold', sans-serif
