$zero = 0
$none = none
$white-color = #fff
$black-color = #000
$dark-gray-color = #282828

*
  margin: $zero
  outline: $none
  padding: $zero
  box-sizing: border-box
#wrapper
  min-width 550px
html, body
  height 100%
  background $white-color
.container
  max-width 1136px
  margin $zero auto
  padding $zero 20px
a, a:hover
  text-decoration $none
  color inherit

uppercase(text-transform = uppercase)
  text-transform uppercase

h2-title()
  uppercase()
  font: 52px 'Montserrat-Bold'

h4-title()
  uppercase()
  color #1a1a1a
  font: 24px 'Montserrat-Bold'

button-decorate()
  uppercase()
  border $none
  width: 300px
  padding 10px 20px
  border-radius 30px
  font-family 'Montserrat-Bold', sans-serif

h2
  h2-title()

div.container
  display grid
  grid-gap 2rem
  grid-template-columns 1fr