@font-face
  font-family: 'Olivier'
  src: url('../fonts/Olivier.ttf')

@font-face
  font-family: 'HelveticaNeue-Light'
  src: url('../fonts/HelveticaNeue-Light.otf')

@font-face
  font-family: 'HelveticaNeue-Thin'
  src: url('../fonts/HelveticaNeue-Thin.otf')

@font-face
  font-family: 'Montserrat-Bold'
  src: url('../fonts/Montserrat-Bold.otf')

@font-face
  font-family: 'Montserrat-Regular'
  src: url('../fonts/Montserrat-Regular.otf')

@font-face
  font-family: 'OpenSans-Italic'
  src: url('../fonts/OpenSans-Italic.ttf')

@font-face
  font-family: 'OpenSans-Regular'
  src: url('../fonts/OpenSans-Regular.ttf')