@zero: 0;
@none: none;
@white-color: #fff;
@bg-color: #3d3c3a;
@yellow-color: #ffa800;

* {
  margin: @zero;
  outline: @none;
  padding: @zero;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  background: @white-color;
}
#wrapper {
  min-width: 450px;
}
a, a:hover {
  text-decoration: @none;
  color: inherit;
}

.uppercase() {
  text-transform: uppercase;
}

h4.title {
  .uppercase;
  margin: 40px auto;
  text-align: center;
  letter-spacing: 2px;
  font: 1.125em/1.5em 'Lato-Bold';
}
p {
  &.title-icon {
    text-align: center;
    margin: 100px auto 0;
    span {
      margin: auto;
      display: block;
    }
  }
  &.description {
    text-align: center;
    font: 1.125em/2em 'Lato-Regular';
  }
}
hr {
  width: 20%;
  height: 2px;
  border: @none;
  display: block;
  margin: 45px auto 70px;
}
div.container {
  display: flex;
  max-width: 1176px;
  margin: @zero auto;
}