@import "general";
@import "import-fonts";

#wrapper {
  min-width: 450px;
  nav {
    top: 0;
    z-index: 99;
    width: 100%;
    height: 100px;
    display: grid;
    position: fixed;
    min-width: 450px;
    align-items: center;
    background-color: @white-color;
    grid-template-columns: 100px repeat(2, minmax(250px, 1fr)) 180px;
    grid-template-rows: 1fr;
    @media all and (max-width: 874px) {
      grid-template-columns: repeat(2, 1fr);
    }
    #logo {
      width: 100%;
      height: 67px;
      padding-left: 30px;
      justify-self: start;
      background: url("../images/logo.png") no-repeat top center;
      background-size: contain;
      @media all and (max-width: 874px) {
        grid-column: 1 / 2;
      }
    }
    a { .nav-ul-li; }
    ul {
      justify-self: center;
      grid-column: 2 / span 2;
      @media all and (max-width: 874px) {
        display: none;
      }
      li {
        list-style: @none;
        display: inline-grid;
      }
    }
    #nav-card {
      //padding: 3em 4em;
      width: 100%;
      height: 100%;
      display: inline-grid;
      justify-self: center;
      justify-content: center;
      background: @light-gray-color url("../images/nav-trash-icon.png") no-repeat 85% center;
      background-size: 15%;
      @media all and (max-width: 874px) {
        grid-column: 3 / 4;
      }
    }
  }
  header {
    width: 100%;
    display: grid;
    margin-top: 100px;
    grid-template-columns: 2fr 1fr;
    @media all and (max-width: 820px) {
      grid-template-columns: 1fr;
      grid-template-rows: 300px 1fr;
    }
    div {
      &:first-child {
        width: 100%;
        height: auto;
        background: url("../images/header-skateboard.png") no-repeat left center;
        background-size: cover;
        @media all and (max-width: 820px) { background-position: top center; }
      }
      &:last-child:not(#buttons) {
        padding: 80px 50px;
        position: relative;
        background-color: @dark-gray-color;
        a {
          display: block;
          margin-bottom: 50px;
        }
      }
      #buttons {
        left: 0;
        bottom: 0;
        width: 100%;
        display: grid;
        position: absolute;
        grid-template-columns: 1fr 1fr;
        button {
          border: @none;
          outline: @none;
          padding: 1.5em;
          background-color: @white-color;
          .link-text(@light-gray-text-color);
          font-size: 1em;
          font-family: 'Karla-Bold', sans-serif;
          border-bottom: 1px solid @light-gray-text-color;
          &:last-child { border-left: 1px solid @light-gray-text-color;}
        }
      }
    }
  }
  #latest-stories-gallery {
    padding: 60px 40px 0;
    h3 { font: 2em 'Karla-Bold'; margin-bottom: 20px; }
    button {
      margin: auto;
      outline: @none;
      display: inherit;
      padding: 0.7em 1.8em;
      background-color: @white-color;
      .link-text(@light-gray-text-color);
      font-size: 1em;
      border: 1px solid @light-gray-text-color;
      &:last-child { margin: 100px auto; }
    }
    .container {
      width: 100%;
      display: grid;
      margin: 0 auto;
      max-width: 1300px;
      grid-column-gap: 2em;
      .latest-stories-gallery-item {
        margin: 45px auto 0;
        figure {
          img {
            width: 100%;
          }
        }
        a {
          display: block;
          margin-top: 15px;
          .link-text(@dark-gray-color);
        }
        .date {
          display: block;
          margin-top: 15px;
          .link-text(@light-gray-text-color);
        }
        &.item3, &.item5 {
          @media (max-width: 911px) and (min-width: 629px) { grid-column-end: span 2; }
        }
        &.item4 {
          width: 100%;
          height: 93%;
          padding-left: 30px;
          position: relative;
          grid-column: 1 / span 2;
          background: url("../images/lastest-stories-gallery-item4.png") no-repeat top center;
          background-size: cover;
          h2 {
            @media (max-width: 530px) { font-size: 2em; }
          }
          h5 {
            color: #8e8b80;
            margin: 20px 0 0;
          }
          img {
            width: 20px;
            &#camera-gallery {
              width: 40px;
              margin-top: 48%;//400px;
            }
          }
          a {
            right: 30px;
            bottom: 55px;
            margin-top: 0;
            position: absolute;
            .link-text(@white-color);
          }
        }
      }
      &.first {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
      &.second {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        @media (max-width: 911px) {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        }
      }
    }
  }
  #real-talk {
    padding: 80px 40px;
    background-color: @dark-gray-color;
    .container {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: repeat(3, minmax(250px, 1fr));
      @media (max-width: 1120px) {
        grid-template-columns: 1fr;
      }
    }
    .container-item1 {
      width: 100%;
      height: 470px;
      position: relative;
      grid-column-end: span 2;
      background: url("../images/real-talk-img.png") no-repeat top center;
      background-size: cover;
      a {
        position: absolute;
        bottom: 30px;
        left: 30px;
      }
    }
    .container-item2 {
      align-self: center;
      @media (max-width: 1120px) { align-self: start; }
      a {
        margin: 30px 0;
        display: block;
      }
      button {
        outline: @none;
        margin: 60px 0 0;
        display: inherit;
        padding: 0.7em 1.8em;
        background-color: inherit;
        .link-text(@light-gray-text-color);
        font-size: 1em;
        border: 1px solid @light-gray-text-color;
      }
    }
  }
  #magazines {
    padding: 50px 40px 120px;
    position: relative;
    background: url("../images/magazine-bg.png") no-repeat top center;
    background-size: cover;
    h2, h5 { text-align: center; margin: 10px 0; }
    h2 { color: @dark-gray-color; }
    .container {
      height: auto;
      display: grid;
      grid-gap: 2rem;
      padding-top: 50px;
      grid-template-columns: repeat(2, 1fr);
      @media (max-width: 870px) {
        grid-template-columns: 1fr;
      }
    }
    .container-item1 {
      z-index: 1;
      justify-self: end;
      @media (max-width: 870px) {
        justify-self: center;
      }
      img {
        width: 350px;
        @media (max-width: 870px) {
          width: 250px;
        }
      }
    }
    .container-item2 {
      align-self: center;
      @media (max-width: 870px) {
        justify-self: center;
      }
      h3 {
        .link-text(@dark-gray-color);
        font-size: 1em;
      }
      h4 {
        .description-text(@dark-gray-color);
        font-size: 3em;
        margin-top: -15px;
        margin-bottom: 10px;
      }
      p.description {
        max-width: 420px;
        .description-text(@dark-gray-color);
      }
      button {
        border: @none;
        outline: @none;
        display: inline-grid;
        padding: 0.7em 1.8em;
        background-color: @dark-gray-color;
        .link-text(@light-gray-text-color);
        font-size: 1em;
      }
    }
    #background-image {
      top: 26%;
      left: @zero;
      width: 200px;
      height: 400px;
      position: absolute;
      background: url("../images/magazine-item1.png") no-repeat left 80%;
      background-size: contain;
      @media (max-width: 870px) {
        top: 11%;
        width: 150px;
      }
    }
  }
  #dylan {
    width: 100%;
    display: grid;
    margin-top: 100px;
    grid-template-columns: 1fr 2fr;
    @media all and (max-width: 820px) {
      grid-template-columns: 1fr;
      grid-template-rows: 450px 450px;
    }
    div {
      &:first-child {
        margin-top: -50px;
        padding: 80px 50px;
        position: relative;
        background-color: @dark-gray-color;
        a {
          display: block;
          margin-bottom: 50px;
        }
        p#life-date {
          margin: 20px auto;
          .link-text(@white-color);
        }
      }
      &:last-child {
        width: 100%;
        height: auto;
        background: url("../images/dylan.png") no-repeat top center;
        background-size: cover;
      }
    }
  }
  footer {
    width: 100%;
    display: grid;
    padding: 20px;
    align-items: center;
    background-color: #2c2c2c;
    grid-template-columns: 1fr repeat(2, minmax(250px, 1fr)) 1fr;
    @media all and (max-width: 1365px) {
      grid-template-columns: 1fr minmax(250px, 1fr) 1fr;
    }
    @media all and (max-width: 950px) {
      grid-template-columns: 1fr;
    }
    ul {
      padding: 20px 40px;
      justify-self: center;
      grid-column: 2 / span 2;
      @media all and (max-width: 1365px) { grid-column: 2 / span 1; }
      @media all and (max-width: 950px) {
        padding: @zero;
        grid-column: auto;
        justify-self: start;
      }
      li {
        list-style: @none;
        display: inline-grid;
        @media all and (max-width: 1365px) {
          margin: 10px auto;
          display: block;
        }
        a {
          .nav-ul-li;
          color: #6e6e6e;
          @media all and (max-width: 950px) { margin: @zero; }
        }
      }
    }
    #social {
      display: grid;
      grid-template-columns: 1fr 1fr;
      @media all and (max-width: 969px) {
        justify-self: center;
        grid-template-columns: 1fr;
      }
      @media all and (max-width: 950px) {
        justify-self: start;
      }
      div {
        &:first-child {
          .nav-ul-li;
          color: #6e6e6e;
          margin: 20px 0;
        }
        &:last-child {
          align-self: center;
          a.social-item {
            display: inline-block;
            &:first-child {
              width: 26px;
              height: 23px;
              background: url("../images/facebook-icon.png") no-repeat;
              background-size: 10px;
            }
            &:nth-child(2) {
              width: 37px;
              height: 20px;
              background: url("../images/twitter-icon.png") no-repeat;
              background-size: 21px;
            }
            &:nth-child(3) {
              width: 36px;
              height: 21px;
              background: url("../images/instagram-icon.png") no-repeat;
              background-size: 19px;
            }
            &:last-child {
              width: 41px;
              height: 18px;
              background: url("../images/youtube-icon.png") no-repeat;
              background-size: 18px;
            }
          }
        }
      }
    }
    #footer-logo {
      width: 100%;
      height: 100px;
      background: url("../images/footer-logo.png") no-repeat center;
      background-size: 300px;
      @media all and (max-width: 950px) { background-position: left center; }
    }
  }
}