@import "general";
@import "import-fonts";

/* General */
* {
  padding: @zero;
  margin: @zero;
  outline: @none;
  @include box-sizing(border-box);
  transition: all .3s ease-in-out;
}
html, body {
  height: 100%;
  background: @white-color;
}
a, a:hover {
  text-decoration: @none;
  color: inherit;
}

#wrapper {
  min-width: 500px;
  header {
    .uppercase;
    display: flex;
    margin: 70px 70px 30px;
    flex-flow: column nowrap;

    nav {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      div {
        letter-spacing: 10px;
        font: 1.875em 'Inconsolata-Regular';
        @media all and (max-width: 860px) {
          align-self: flex-start;
        }
      }
      ul {
        display: inline-flex;
        @media all and (max-width: 860px) {
          display: inline-block;
        }
        li {
          padding: 0 40px;
          list-style: @none;
          @media all and (max-width: 860px) {
            padding-bottom: 20px;
            padding-left: 0;
            padding-right: 0;
            text-align: right;
          }
          a {
            .uppercase;
            padding-bottom: 10px;
            font: 0.875em 'PlayfairDisplay-Regular';
            &:hover { border-bottom: 1px solid @dark-gray; }
          }
        }
      }
    }
    img {
      width: 100%;
      margin: 70px auto 0;
      @media all and (max-width: 860px) {
        margin-top: 30px;
      }
    }
  }
  main {
    section {
      display: flex;
      color: @dark-gray;
      margin: 70px 70px 0;
      flex-direction: row-reverse;
      justify-content: space-around;
      font-family: 'PlayfairDisplay-Regular', sans-serif;
      @media all and (max-width: 1000px) {
        flex-direction: column-reverse;
      }
      aside {
        margin-left: 50px;
        @media all and (max-width: 1000px) {
          margin-left: 0;
          margin-bottom: 50px;
        }
        p {
          font-size: 0.75em;
          line-height: 2em;
          margin-bottom: 25px;
          &.beige { font-size: 0.875em; }
        }
        h2 {
          margin: 30px 0 20px;
        }
        ul {
          li {
            line-height: 2.5em;
            padding-bottom: 10px;
            list-style-type: none;
            p.beige {
              font-size: 0.75em;
              padding-left: 35px;
            }
            &:before {
              content: "•";
              color: @beige;
              padding-right: 30px;
            }
          }
        }
        div.social {
          display: inline-flex;
          p:nth-child(1) {
            width: 25px;
            height: 20px;
            background: url("../images/icon-facebook.png") no-repeat top center;
          }
          p:nth-child(2) {
            width: 25px;
            height: 20px;
            padding-left: 7px;
            background: url("../images/icon-instagram.png") no-repeat top center;
          }
          p:nth-child(3) {
            width: 25px;
            height: 20px;
            padding-left: 7px;
            background: url("../images/icon-pinterest.png") no-repeat top center;
          }
        }
      }
      article {
        margin-left: 70px;
        margin-bottom: 75px;
        @media all and (max-width: 1000px) {
          margin-left: 0;
          margin-bottom: 50px;
        }
        p {
          font-size: 0.875em;
          line-height: 2em;
        }
        h1 {
          font-size: 1.875em;
          margin-bottom: 40px;
        }
        img {
          width: 100%;
          max-width: 950px;
          padding-bottom: 50px;
        }
        blockquote {
          margin: 0 30px 40px;
          font-style: italic;
          line-height: 1.5em;
        }
      }
    }
  }
}