/* Variables */
$white-color = #fff
$black-color = #000
$zero = 0
$none = none

uppercase(text-transform = uppercase)
  text-transform uppercase

font(size, line = 1.5em, font = 'Abel-Rugular')
  font-size size
  line-height line
  font-family font