/* Variables */
/* Classes */
h2.h2-title {
  font: 2.625em "Montserrat-Regular";
  padding: 105px 0 0 0; }

a.a-link {
  font: 1em "Montserrat-Light";
    font-weight: bold;
  background: transparent;
  border: 1.5px solid #26272d;
  border-radius: 35px;
  padding: 1% 6%;
  display: inline-block;
  margin: 0 0 330px 0; }
  a.a-link:hover {
    color: #fff;
    border-color: #26272d;
    background: #26272d;
    cursor: pointer; }

p.p-text {
  font: 1.25em "Lato-LightItalic";
    font-style: italic; }

span.blue-shape {
  display: block;
  margin: 50px auto 0;
  padding: 0 0 25px 0;
  width: 50px;
  background: url(../images/blue-shape.png) no-repeat; }

/* General */
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

html, body {
  height: 100%;
  background: #ccc; }

a, a:hover {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: inherit; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px; }

/* Header */
#header {
  display: grid;
  grid-template-columns: repeat(2, calc(97vw / 2));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  grid-gap: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; }
  @media screen and (max-width: 62.5em) {
    #header {
      grid-auto-rows: calc(20 * (16vw / 2) / 20); } }
  @media screen and (min-width: 62.5em) {
    #header {
      grid-auto-rows: calc(20 * (10vw / 2) / 20); } }
  #header #logo {
    display: inline-grid;
    justify-self: start;
    align-self: center;
    padding-left: 30px; }
    #header #logo p {
      text-transform: uppercase;
      font: 100% 'Montserrat-SemiBold'; }
      #header #logo p span {
        font: 100% 'Montserrat-Regular'; }
  #header #nav {
    display: inline-grid;
    justify-items: center;
    padding-right: 30px; }
    @media screen and (max-width: 62.5em) {
      #header #nav {
        grid-template-columns: repeat(1, calc(18vw / 2));
        justify-self: end;
        grid-row-gap: 15px;
        grid-template-rows: repeat(5, 25px);
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media screen and (min-width: 62.5em) {
      #header #nav {
        grid-template-columns: repeat(5, calc(13vw / 2));
        -ms-flex-item-align: center;
        align-self: center; } }
    #header #nav li {
      list-style: none;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; }
      #header #nav li a {
        font: 100% 'Montserrat-Regular';
        padding-bottom: 10%;
        color: #26272d; }
        #header #nav li a:hover {
          border-bottom: 1px solid #26272d; }

/* Home */
#home {
  background: #333 url(../images/bg-header.png) no-repeat top center;
  background-size: cover;
  color: #26272d;
  text-align: center; }
  #home h1 {
    padding: 330px 0 40px;
    font: 3.875em 'Montserrat-SemiBold'; }
  #home p {
    padding: 0 0 80px;
    font: 1.25em/1.5em 'Montserrat-Regular'; }

/* Second Part */
#second-part {
  padding: 105px 20px;
  background: #fff url(../images/bg-second-part.png) no-repeat; }
  @media all and (min-width: 55.625em) {
    #second-part {
      background-position: 20% 50%;
      padding-left: 50px; } }
  @media all and (max-width: 55.625em) {
    #second-part {
      background-position: 40% 5%;
      background-size: auto;
      padding-left: 50px; } }
  @media all and (max-width: 53.125em) {
    #second-part {
      background-color: #fff;
      background-image: none;
      background-position: 40% 10%; } }
  #second-part .container {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-gap: 2rem; }
    @media all and (min-width: 55.625em) {
      #second-part .container {
        grid-template-columns: repeat(2, calc(87vw / 2)); } }
    @media all and (max-width: 55.625em) {
      #second-part .container {
        grid-template-columns: repeat(1, calc(120vw / 2)); } }
    #second-part .container .second-part-block {
      display: inline-grid;
      justify-items: left; }
      #second-part .container .second-part-block#block1 h4 {
        text-transform: uppercase;
        font: 1.875em 'Montserrat-SemiBold';
        -ms-flex-item-align: end;
        align-self: end;
        padding-bottom: 40px; }
      #second-part .container .second-part-block#block1 p {
        font: 0.875em/2em 'Montserrat-Light'; }
      #second-part .container .second-part-block#block2 {
        justify-self: start;
        -ms-flex-line-pack: end;
        align-content: end; }
        #second-part .container .second-part-block#block2 picture, #second-part .container .second-part-block#block2 img {
          max-width: 100%;
          height: auto; }

/* Our services */
#our-services {
  text-align: center;
  background-color: #f5f5f8; }
  #our-services .our-services-gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 3.5rem 2rem;
    padding: 95px 20px 150px; }
    @media all and (min-width: 1136px) {
      #our-services .our-services-gallery {
        grid-template-columns: repeat(4, minmax(250px, 1fr)); } }
    @media all and (max-width: 1135px) {
      #our-services .our-services-gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); } }
    #our-services .our-services-gallery .our-services-gallery-item {
      display: inline-grid;
      padding-top: 90px; }
      #our-services .our-services-gallery .our-services-gallery-item h3 {
        font: 0.813em 'Montserrat-Regular';
        text-transform: uppercase;
        margin-bottom: 27px;
        letter-spacing: 2px; }
      #our-services .our-services-gallery .our-services-gallery-item div p {
        font: 0.813em/1.7em "Montserrat-Light";
          font-style: normal; }
      #our-services .our-services-gallery .our-services-gallery-item.item1 {
        background: url("../images/services-item-anchor.png") no-repeat top center; }
      #our-services .our-services-gallery .our-services-gallery-item.item2 {
        background: url("../images/services-item-bike.png") no-repeat top center; }
      #our-services .our-services-gallery .our-services-gallery-item.item3 {
        background: url("../images/services-item-paper-plane.png") no-repeat top center; }
      #our-services .our-services-gallery .our-services-gallery-item.item4 {
        background: url("../images/services-item-camera.png") no-repeat top center; }
      #our-services .our-services-gallery .our-services-gallery-item.item5 {
        background: url("../images/services-item-microphone.png") no-repeat top center; }
      #our-services .our-services-gallery .our-services-gallery-item.item6 {
        background: url("../images/services-item-rocket.png") no-repeat top center; }
      #our-services .our-services-gallery .our-services-gallery-item.item7 {
        background: url("../images/services-item-basket.png") no-repeat top center; }
      #our-services .our-services-gallery .our-services-gallery-item.item8 {
        background: url("../images/services-item-chemestry.png") no-repeat top center; }

/* Map Feature */
#map-feature {
  text-align: center;
  color: #fff;
  background: #ededee url("../images/bg-map-feature.png") no-repeat top center;
  background-size: cover; }
  #map-feature p.p-text {
    color: #878a90; }
  #map-feature a.a-link {
    font: 1em "Montserrat-Light";
      font-weight: bold;
    background: transparent;
    border: 1.5px solid #267df4;
    border-radius: 35px;
    padding: 1% 6%;
    display: inline-block;
    margin: 100px 0 220px; }
    #map-feature a.a-link:hover {
      color: #fff;
      border-color: #267df4;
      background: #267df4;
      cursor: pointer; }
  #map-feature h2.h2-title {
    padding-top: 250px;
    margin-bottom: 30px; }
  #map-feature #statistics {
    display: grid;
    padding-bottom: 120px;
    grid-gap: 3.5rem 2rem; }
    @media all and (min-width: 1136px) {
      #map-feature #statistics {
        grid-template-columns: repeat(4, minmax(250px, 1fr)); } }
    @media all and (max-width: 1135px) {
      #map-feature #statistics {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); } }
    #map-feature #statistics .statistics-item {
      display: inline-grid; }
      #map-feature #statistics .statistics-item p {
        color: #0960d7;
        font: 1em "Montserrat-Light";
          font-style: italic;
        font-style: normal; }
        #map-feature #statistics .statistics-item p.number {
          font: 3.077em "Montserrat-Light";
            font-style: italic;
          font-style: normal;
          color: #fff; }
        #map-feature #statistics .statistics-item p span {
          display: inline-block;
          margin: 0 0 0 -15px; }
          #map-feature #statistics .statistics-item p span:before {
            content: ".";
            color: #0851b6;
            font-size: 1.5em; }

@font-face {
  font-family: 'Avenir-BlackOblique';
  src: url("../fonts/AvenirLTStd-BlackOblique.otf"); }

@font-face {
  font-family: 'Lato-LightItalic';
  src: url("../fonts/Lato-LightItalic.ttf"); }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat-Regular.otf"); }

@font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat-Light.otf"); }

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold.otf"); }
