@import "general";
@import "import-fonts";

#wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
}

header {
  text-align: center;
  grid-column: span 8;
  padding: 0 30px 340px;
  background: url("../images/bg-jumbotron.png") no-repeat center;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  background-size: cover;
  nav {
    width: 27px;
    height: 22px;
    right: 100px;
    margin: 65px 0 0;
    justify-self: end;
    position: absolute;
    background: url("../images/hamburger-nav.png") no-repeat center;
    &:hover { cursor: pointer;}
    @media (max-width: 600px) {
      left: 460px;
      position: relative;
    }
  }
  h1 {
    .uppercase;
    color: @title-color;
    margin: 255px 0 25px;
    letter-spacing: 15px;
    font: 40px/50px 'GothamRounded-Book';
    span { color: @text-color; }
    @media (max-width: 600px) { font-size: 30px; }
  }
  p {
    color: @text-color;
    letter-spacing: 4px;
    font: 15px/25px 'GothamRounded-Book';
    span { font-family: 'GothamRounded-MediumItalic', sans-serif; }
  }
  a {
    .uppercase;
    width: 200px;
    display: block;
    padding: 17px 25px;
    border-radius: 7px;
    color: @white-color;
    margin: 67px auto 0;
    background-color: @green-color;
    font: 15px 'GothamRounded-Medium';
    box-shadow: 0 4px 0 0 rgba(48,147,131,1);
  }
}
div {
  &#intro {
    text-align: center;
    justify-items: center;
    justify-content: center;
    grid-column: span 8;
    padding: 0 30px 130px;
    background-color: #f3f5f8;
    p {
      max-width: 735px;
      color: @text-color;
      margin: @zero auto;
      font: 14px/30px 'GothamRounded-Medium';
      span { color: @title-color; }
    }
  }
}