/* Variables */
$white-color: #fff;
$dark-gray-color: #26272d;
$zero: 0;
$none: none;

/* Classes */
@mixin uppercase {
  text-transform: uppercase;
}

@mixin span-shape(  $display: block,
                    $margin: 0 auto,
                    $padding: 0) {
  display: $display;
  margin: $margin;
  padding: $padding;
  width: 50px;
  background: url(../images/blue-shape.png) no-repeat;
}