@media screen and (max-width: 62.5em) {
  #header {
    grid-auto-rows: calc(20 * (16vw / 2) / 20);
    #nav {
      grid-template-columns: repeat(1, calc(18vw / 2));
      justify-self: end;
      grid-row-gap: 15px;
      grid-template-rows: repeat(5, 25px);
      align-items: center;
    }
  }
}
@media screen and (min-width: 62.5em) {
  #header {
    grid-auto-rows: calc(20 * (10vw / 2) / 20);
    #nav {
      grid-template-columns: repeat(5, calc(13vw / 2));
      align-self: center;
    }
  }
}