@import "general";

/* General */
* {
  padding: $zero;
  margin: $zero;
  outline: $none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

html, body {
  height: 100%;
  background: #ccc;
}

a, a:hover {
  -webkit-text-decoration: $none;
  text-decoration: $none;
  color: inherit;
}

.clearfix {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.container {
  max-width: 1170px;
  margin: $zero auto;
  padding: $zero 20px;
}

/* Header */
#header {
  display: grid;
  grid-template-columns: repeat(2, calc(97vw / 2));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  grid-gap: 2rem;

  position: absolute;
  top: $zero;
  left: $zero;
  right: $zero;
  width: 100%;

  @media screen and (max-width: 62.5em) {
    grid-auto-rows: calc(20 * (16vw / 2) / 20);
  }

  @media screen and (min-width: 62.5em) {
    grid-auto-rows: calc(20 * (10vw / 2) / 20);
  }

  #logo {
    display: inline-grid;
    justify-self: start;
    align-self: center;
    padding-left: 30px;

    p {
      @include uppercase;
      font: 100% 'Montserrat-SemiBold';
      span { font: 100% 'Montserrat-Regular'; }
    }
  }

  #nav {
    display: inline-grid;
    justify-items: center;
    padding-right: 30px;

    @media screen and (max-width: 62.5em) {
      grid-template-columns: repeat(1, calc(18vw / 2));
      justify-self: end;
      grid-row-gap: 15px;
      grid-template-rows: repeat(5, 25px);
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    @media screen and (min-width: 62.5em) {
      grid-template-columns: repeat(5, calc(13vw / 2));
      -ms-flex-item-align: center;
      align-self: center;
    }

    li {
      list-style: $none;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;

      a {
        font: 100% 'Montserrat-Regular';
        padding-bottom: 10%;
        color: $dark-gray-color;

        &:hover {
          border-bottom: 1px solid $dark-gray-color;
        }
      }
    }
  }
}

/* Home */
#home {
  background: #333 url(../images/bg-header.png)
              no-repeat top center;
  background-size: cover;
  color: $dark-gray-color;
  text-align: center;

  h1 {
    padding: 330px 0 40px;
    font: 3.875em 'Montserrat-SemiBold';
  }

  p {
    padding: 0 0 80px;
    font: 1.25em/1.5em 'Montserrat-Regular';
  }
}

/* Second Part */
#second-part {
  padding: 105px 20px;
  background: $white-color url(../images/bg-second-part.png)
              no-repeat;

  @media all and (min-width: 55.625em) {
    background-position: 20% 50%;
    padding-left: 50px;
  }

  @media all and (max-width: 55.625em) {
    background-position: 40% 5%;
    background-size: auto;
    padding-left: 50px;
  }

  @media all and (max-width: 53.125em) {
    background-color: $white-color;
    background-image: $none;
    background-position: 40% 10%;
  }

  .container {
    display: grid;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    justify-items: center;
    grid-gap: 2rem;

    @media all and (min-width: 55.625em) {
      grid-template-columns: repeat(2, calc(87vw / 2));
    }
    @media all and (max-width: 55.625em) {
      grid-template-columns: repeat(1, calc(120vw / 2));
    }

    .second-part-block {
      display: inline-grid;
      justify-items: left;

      &#block1 {

        h4 {
          @include uppercase;
          font: 1.875em 'Montserrat-SemiBold';
          -ms-flex-item-align: end;
          align-self: end;
          padding-bottom: 40px;
        }

        p { font: 0.875em/2em 'Montserrat-Light'; }
      }

      &#block2 {
        justify-self: start;
        -ms-flex-line-pack: end;
        align-content: end;

        picture, img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}

/* Our services */
#our-services {
  text-align: center;
  background-color: #f5f5f8;

  .our-services-gallery {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    grid-gap: 3.5rem 2rem;
    padding: 95px 20px 150px;

    @media all and (min-width: 1136px) {
      grid-template-columns: repeat(4, minmax(250px, 1fr));
    }

    @media all and (max-width: 1135px) {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .our-services-gallery-item {
      display: inline-grid;
      padding-top: 90px;

      h3 {
        font: 0.813em 'Montserrat-Regular';
        @include uppercase;
        margin-bottom: 27px;
        letter-spacing: 2px;
      }

      div {
        p { font: 0.813em/1.7em 'Montserrat-Light' { style: normal }; }
      }

      &.item1 { background: url("../images/services-item-anchor.png") no-repeat top center; }
      &.item2 { background: url("../images/services-item-bike.png") no-repeat top center; }
      &.item3 { background: url("../images/services-item-paper-plane.png") no-repeat top center; }
      &.item4 { background: url("../images/services-item-camera.png") no-repeat top center; }
      &.item5 { background: url("../images/services-item-microphone.png") no-repeat top center; }
      &.item6 { background: url("../images/services-item-rocket.png") no-repeat top center; }
      &.item7 { background: url("../images/services-item-basket.png") no-repeat top center; }
      &.item8 { background: url("../images/services-item-chemestry.png") no-repeat top center; }
    }
  }
}

/* Map Feature */
#map-feature {
  text-align: center;
  color: $white-color;
  background: #ededee url('../images/bg-map-feature.png') no-repeat top center;
  background-size: cover;

  p.p-text { color: #878a90; }
  a.a-link { @include a-link-function($white-color, #267df4, 100px 0 220px); }
  h2.h2-title {
    padding-top: 250px;
    margin-bottom: 30px;
  }

  #statistics {
    display: grid;
    padding-bottom: 120px;
    grid-gap: 3.5rem 2rem;

    @media all and (min-width: 1136px) {
      grid-template-columns: repeat(4, minmax(250px, 1fr));
    }
    @media all and (max-width: 1135px) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .statistics-item {
      display: inline-grid;

      p {
        color: #0960d7;
        @include p-text-function( 1em 'Montserrat-Light' );
        font-style: normal;

        &.number {
          @include p-text-function(3.077em 'Montserrat-Light');
          font-style: normal;
          color: $white-color;
        }

        span {
          display: inline-block;
          margin: 0 0 0 -15px;
          
          &:before {
            content: ".";
            color: #0851b6;
            font-size: 1.5em;
          }
        }
      }
    }
  }
}

@import "import-fonts";