@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome.otf');
}
@font-face {
  font-family: 'PTSans-Regular';
  src: url('../fonts/PTSans-Regular.ttf');
}
@font-face {
  font-family: 'PTSans-Bold';
  src: url('../fonts/PTSans-Bold.ttf');
}
@font-face {
  font-family: 'PTSans-Italic';
  src: url('../fonts/PTSans-Italic.ttf');
}
@font-face {
  font-family: 'PTSerif-Regular';
  src: url('../fonts/PTSerif-Regular.ttf');
}
@font-face {
  font-family: 'PTSerif-Bold';
  src: url('../fonts/PTSerif-Bold.ttf');
}