$zero: 0;
$none: none;
$white-color: #fff;
$orange-color: #ff6633;
$dark-gray-color: #3b3b3b;
$light-gray-color: #f7f7f7;

.uppercase {
  text-transform: uppercase;
}

.orange-button {
  background-color: $orange-color;
}