.uppercase, .orange-button, header #buttons button.orange-button, header nav #nav .nav-item a, header #buttons button, #events div#reservation div#form button, footer h4, footer #nav-footer {
  text-transform: uppercase; }

.orange-button, header #buttons button.orange-button {
  background-color: #ff6633;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  margin: 40px 0 45px;
  font: 0.813em 'PTSans-Bold'; }
  .orange-button:hover, header #buttons button.orange-button:hover {
    background-color: rgba(0, 0, 0, 0.8); }

/* General */
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

html, body {
  height: 100%;
  min-width: 400px;
  background: #fff; }

a, a:hover {
  text-decoration: none;
  color: inherit; }

header {
  text-align: center;
  color: #fff;
  background: url("../images/bg-header.png") no-repeat top center;
  background-size: cover; }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px;
    margin: 0 auto;
    max-width: 1150px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    @media all and (max-width: 940px) {
      header nav {
        padding: 40px; } }
    header nav #logo {
      color: #ff6633;
      font: 2.250em 'PTSerif-Bold'; }
    header nav #nav {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      @media all and (max-width: 940px) {
        header nav #nav {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      header nav #nav .nav-item {
        margin-right: 25px; }
        header nav #nav .nav-item:last-child {
          margin-right: 0; }
        @media all and (max-width: 940px) {
          header nav #nav .nav-item {
            margin-right: 0;
            text-align: right;
            margin-bottom: 10px; } }
        header nav #nav .nav-item a {
          letter-spacing: 2px;
          font: 0.875em 'PTSerif-Bold'; }
          header nav #nav .nav-item a:hover {
            color: #ff6633; }
        @media all and (max-width: 940px) {
          header nav #nav .nav-item div {
            display: none; } }
        header nav #nav .nav-item div p {
          padding-top: 20px;
          font: 0.813em 'PTSans-Italic'; }
  header h1 {
    margin: 165px 10px 0;
    font: 3.250em 'PTSerif-Bold'; }
  header h2 {
    margin: 25px 10px 55px;
    font: 2.250em 'PTSerif-Regular'; }
    header h2 span {
      -webkit-text-decoration: solid;
      text-decoration: solid; }
  header a span {
    display: block;
    margin: 0 auto;
    font: 0.938em 'PTSans-Regular'; }
    header a span:last-child {
      width: 25px;
      height: 25px;
      margin-top: 10px;
      padding-bottom: 50px;
      background: url("../images/icon-arrow-down.png") no-repeat top center; }
  header #buttons button {
    border: none;
    cursor: pointer;
    padding: 1.5% 3%;
    border-radius: 5px;
    color: #fff;
    margin: 0 10px 145px;
    font: 0.813em 'PTSans-Bold';
    background-color: rgba(0, 0, 0, 0.8); }
    header #buttons button.orange-button {
      padding: 1.5% 3%; }
    header #buttons button:hover {
      background-color: #ff6633; }

main {
  color: #3b3b3b;
  padding: 70px 0 100px 10px;
  background-color: #f7f7f7; }
  main section#about-voila {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    max-width: 1150px; }
    @media all and (max-width: 850px) {
      main section#about-voila {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    main section#about-voila div {
      -ms-flex-negative: 1;
      flex-shrink: 1;
      padding-left: 100px;
      padding-right: 40px; }
      @media all and (max-width: 1130px) {
        main section#about-voila div {
          padding-left: 30px; } }
      main section#about-voila div button {
        float: right; }
      main section#about-voila div h4 {
        text-align: center;
        margin-bottom: 20px;
        font: 1.625em 'PTSerif-Bold'; }
      main section#about-voila div p {
        margin: 25px 0;
        font: 1em 'PTSans-Regular'; }
        main section#about-voila div p span {
          color: #ff6633; }
      main section#about-voila div:last-child {
        width: 635px;
        height: 497px;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        padding-left: 0;
        padding-right: 0;
        background: url("../images/glass-of-wine.png") no-repeat top right; }
        @media all and (max-width: 1000px) and (min-width: 850px) {
          main section#about-voila div:last-child {
            width: 435px;
            height: auto;
            background-size: contain; } }
        @media all and (max-width: 850px) {
          main section#about-voila div:last-child {
            width: 100%;
            height: 500px; } }
  main section#gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1150px;
    margin: 30px auto 0;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    @media all and (min-width: 850px) and (max-width: 1000px) {
      main section#gallery {
        margin-top: 50px;
        margin-left: 15px; } }
    @media all and (max-width: 850px) {
      main section#gallery {
        margin-top: 0;
        margin-left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    main section#gallery div {
      margin: 0 15px; }
      main section#gallery div:nth-child(1) {
        width: 50%;
        height: 300px;
        margin-top: -100px;
        background: url("../images/Eric-McGregor-flickr.png") no-repeat top right; }
        @media all and (max-width: 850px) {
          main section#gallery div:nth-child(1) {
            width: 97%;
            margin: 20px 15px;
            background-size: cover;
            background-position: center; } }
      main section#gallery div:nth-child(2) {
        width: 284px;
        height: 226px;
        background: url("../images/restaurant-kitchen.png") no-repeat top right; }
        @media all and (max-width: 850px) {
          main section#gallery div:nth-child(2) {
            width: 97%;
            margin: 20px 15px;
            background-size: cover;
            background-position: top; } }
      main section#gallery div:nth-child(3) {
        width: 335px;
        height: 229px;
        margin-right: 0;
        background: url("../images/photo-holder.png") no-repeat top right; }
        @media all and (max-width: 850px) {
          main section#gallery div:nth-child(3) {
            width: 97%;
            margin: 20px 15px;
            background-size: cover;
            background-position: center; } }

#cupcake {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1150px;
  color: #3b3b3b;
  padding: 70px 0 100px 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  background-color: #fff; }
  @media all and (max-width: 1015px) {
    #cupcake {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  #cupcake article div:nth-of-type(1) {
    padding: 0 100px 0 50px; }
  #cupcake article div button {
    float: right; }
  #cupcake article div h4 {
    text-align: center;
    margin-bottom: 20px;
    font: 1.625em 'PTSerif-Bold'; }
  #cupcake article div p {
    margin: 25px 0;
    font: 1em 'PTSans-Regular'; }
    #cupcake article div p span {
      color: #ff6633; }
  #cupcake article#cakes {
    margin-left: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media all and (max-width: 1015px) {
      #cupcake article#cakes {
        margin: 0 auto;
        max-width: 500px; } }
    #cupcake article#cakes div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 0 0 25px 0;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      @media all and (max-width: 1015px) {
        #cupcake article#cakes div {
          margin: 0 auto; } }
      #cupcake article#cakes div:nth-child(1) div:nth-child(1) {
        width: 212px;
        height: 213px;
        background: url("../images/steak-vegetables.png") no-repeat top center; }
      #cupcake article#cakes div:nth-child(1) div:nth-child(2) {
        width: 213px;
        height: 213px;
        background: url("../images/beef-steak-potatoes.png") no-repeat top center; }
      #cupcake article#cakes div:nth-child(2) {
        width: 455px;
        height: 213px;
        background: url("../images/cupcakes.png") no-repeat top center; }

#events {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #3b3b3b;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #f7f7f7; }
  @media all and (max-width: 1000px) {
    #events {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  #events div h5 {
    text-align: center;
    margin: 60px 0 45px;
    font: 1.375em 'PTSerif-Bold'; }
  #events div#reservation {
    max-width: 455px;
    margin: 0 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.75); }
    @media all and (max-width: 1000px) {
      #events div#reservation {
        margin: 0 auto 15px; } }
    #events div#reservation div#form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 65px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #events div#reservation div#form input {
        width: 100%;
        outline: none;
        max-width: 300px;
        border-radius: 5px;
        padding: 20px 25px;
        margin-bottom: 20px;
        border: 1px solid #e5e4e4; }
        #events div#reservation div#form input[placeholder] {
          letter-spacing: 1px;
          color: #3b3b3b;
          font: 0.875em 'PTSans-Regular'; }
        #events div#reservation div#form input#name {
          background: #f7f7f7 url("../images/user-icon.png") no-repeat 90% 50%; }
        #events div#reservation div#form input#date {
          background: #f7f7f7 url("../images/date-icon.png") no-repeat 90% 50%; }
        #events div#reservation div#form input#time {
          background: #f7f7f7 url("../images/time-icon.png") no-repeat 90% 50%; }
        #events div#reservation div#form input#commensals {
          background: #f7f7f7 url("../images/commensals-icon.png") no-repeat 90% 50%; }
      #events div#reservation div#form button {
        border: none;
        outline: none;
        padding: 20px 5%;
        color: #fff;
        margin-bottom: 120px;
        font: 0.875em 'PTSans-Bold';
        background-color: #3b3b3b; }
        #events div#reservation div#form button:hover {
          cursor: pointer;
          color: #3b3b3b;
          border: 1px solid #3b3b3b;
          background-color: #f7f7f7; }
  #events div#upcoming-events {
    margin: 0 15px;
    max-width: 455px;
    padding: 0 45px 0 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.75); }
    @media all and (max-width: 1000px) {
      #events div#upcoming-events {
        margin: 0 auto 15px; } }
    #events div#upcoming-events #comments {
      display: block; }
      #events div#upcoming-events #comments div.comment {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 25px; }
        #events div#upcoming-events #comments div.comment figure {
          -webkit-box-flex: 0;
          -ms-flex: none;
          flex: none; }
        #events div#upcoming-events #comments div.comment div.comment-text {
          -webkit-box-flex: 1;
          -ms-flex: auto;
          flex: auto;
          padding-left: 20px; }
          #events div#upcoming-events #comments div.comment div.comment-text p {
            line-height: 1em;
            font: 0.875em 'PTSans-Regular';
            margin: 15px 0 0; }
            #events div#upcoming-events #comments div.comment div.comment-text p a {
              margin-top: 0;
              color: #ff6633;
              font-family: 'PTSans-Italic', sans-serif; }
          #events div#upcoming-events #comments div.comment div.comment-text h6 {
            color: #ff6633;
            font: 1em 'PTSerif-Bold'; }
          #events div#upcoming-events #comments div.comment div.comment-text span {
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            font: 0.75em 'PTSans-Bold'; }
            #events div#upcoming-events #comments div.comment div.comment-text span.date::before {
              content: url("../images/date-icon.png"); }
            #events div#upcoming-events #comments div.comment div.comment-text span.time::before {
              content: url("../images/time-icon.png"); }

#feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 90px 0;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #3b3b3b;
  background-color: #fff; }
  @media all and (max-width: 720px) {
    #feedback {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  #feedback div {
    margin: 15px 30px; }
    @media all and (max-width: 720px) {
      #feedback div {
        margin: 15px auto; } }
    #feedback div button {
      margin: 20px 0 0; }
    #feedback div a {
      width: 61px;
      height: 20px;
      margin: 15px 5px 0;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      #feedback div a#fb {
        background: url("../images/share-facebook.png") no-repeat; }
      #feedback div a#tw {
        background: url("../images/share-twitter.png") no-repeat; }
    #feedback div h4 {
      text-align: center;
      margin-bottom: 20px;
      font: 1.625em 'PTSerif-Bold'; }
    #feedback div p {
      margin: 25px 0;
      font: 1em/1.5em 'PTSans-Regular'; }
    #feedback div#or-block {
      width: 30px;
      height: 185px;
      background: url("../images/or-divider.png") no-repeat; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #fff;
  padding: 40px 0 60px;
  background-color: #222;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  @media all and (max-width: 700px) {
    footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  footer h4 {
    margin-bottom: 25px;
    letter-spacing: 2px;
    font: 1em 'PTSerif-Bold'; }
  footer p {
    margin-bottom: 20px;
    font: 0.938em/1.5em 'PTSans-Regular'; }
    footer p a {
      color: #ff6633; }
  footer #logo-footer {
    color: #ff6633;
    font: 2.250em 'PTSerif-Bold'; }
    @media all and (max-width: 700px) {
      footer #logo-footer {
        min-width: 260px;
        margin: 0 auto 25px; } }
  footer #nav-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media all and (max-width: 700px) {
      footer #nav-footer {
        min-width: 250px;
        margin: 0 auto 15px; } }
    footer #nav-footer a {
      display: block;
      margin-bottom: 10px;
      font: 0.875em 'PTSans-Regular'; }
  @media all and (max-width: 700px) {
    footer #visit-us {
      margin: 0 auto 15px; } }
  footer #visit-us a {
    margin: 10px 15px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    footer #visit-us a:nth-child(4) {
      width: 9px;
      height: 16px;
      margin-left: 0;
      background: url("../images/facebook-icon.png") no-repeat; }
    footer #visit-us a:nth-child(5) {
      width: 15px;
      height: 12px;
      background: url("../images/twitter-icon.png") no-repeat; }
    footer #visit-us a:nth-child(6) {
      width: 14px;
      height: 15px;
      background: url("../images/instagram-icon.png") no-repeat; }
    footer #visit-us a:nth-child(7) {
      width: 22px;
      height: 13px;
      background: url("../images/trip-advisor-icon.png") no-repeat; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/FontAwesome.otf"); }
@font-face {
  font-family: 'PTSans-Regular';
  src: url("../fonts/PTSans-Regular.ttf"); }
@font-face {
  font-family: 'PTSans-Bold';
  src: url("../fonts/PTSans-Bold.ttf"); }
@font-face {
  font-family: 'PTSans-Italic';
  src: url("../fonts/PTSans-Italic.ttf"); }
@font-face {
  font-family: 'PTSerif-Regular';
  src: url("../fonts/PTSerif-Regular.ttf"); }
@font-face {
  font-family: 'PTSerif-Bold';
  src: url("../fonts/PTSerif-Bold.ttf"); }
