@import "import-fonts.styl"
@import "general.styl"

header
  nav
    background-color #1d2126
    div.container
      display flex
      padding 30px
      align-items center
      flex-flow row nowrap
      justify-content space-between
      div.logo
        flex-grow 3
        width 99px
        height 19px
        background url("../images/modest-logo.png") no-repeat left center
      ul.nav
        flex-grow 2
        display flex
        flex-flow row nowrap
        justify-content space-around
        @media (max-width: 720px)
          flex-grow 1
          align-items center
          flex-flow column wrap
        li
          padding 5px
          color #a4aead
          list-style $none
          border-radius 4px
          border 2px solid transparent
          &:hover
            border-color #a4aead
          &:first-child
            color $turquoise
            border 2px solid $turquoise
          a
            uppercase()
            font 14px 'OpenSans-SemiBold'
  div.app
    background url("../images/bg-header.png") no-repeat center
    background-size cover
    div.container
      padding 220px 30px
      @media (max-width 615px)
        padding 205px 30px
      div.app-info
        height 200px
        display flex
        flex-flow column wrap
        justify-content space-between
        @media (max-width 615px)
          height 250px
        button
          flex $none
          &.green:hover
            button-decorate(#c1c3c9, transparent)
            border 2px solid $white-color
          &.transparent:hover
            button-decorate($white-color, $turquoise)
            border 2px solid $turquoise
        h2
          color $white-color
        p
          color #bfc2ca

div
  &.about-us
    div.container:only-child
      flex-flow column wrap
      padding 80px 30px 100px
      h2
        margin-bottom 70px
        color $dark-blue-color
        &:before
          vertical-align middle
          content url("../images/border-left-light.png")
      div.container
        padding 0
        flex-flow row nowrap
        @media (max-width 900px)
          flex-direction column-reverse
        div
          &.item1
            margin-right 20px
            color $gray-color
            flex-basis 1590px
            flex-direction column
            @media (max-width 900px)
              flex-basis auto
            p
              margin-bottom 30px
              span
                font-family 'QuattrocentoSans-Bold', sans-serif
            div.social
              a
                padding 15px
                color $white-color
                font 46px 'Socialico'
                background-color #d0d5d9
          &.item2
            flex-flow column nowrap
            justify-content space-evenly
            div.feature-item
              display flex
              align-items flex-start
              span
                flex $none
                padding 15px
                color $white-color
                background-color $turquoise
                font 20px 'QuattrocentoSans-Regular'
              div
                flex auto
                padding-left 20px
                p
                  color $gray-color
                  margin-bottom 30px
                h3
                  uppercase()
                  margin-bottom 10px
                  color $dark-blue-color
                  font 18px 'QuattrocentoSans-Bold'
  &.team
    div.container:only-child
      flex-flow column wrap
      padding 80px 30px 100px
      h2
        margin-bottom 70px
        color $dark-blue-color
        &:before
          vertical-align middle
          content url("../images/border-left-light.png")
      div.container
        padding 0
        div.team-gallery
          display flex
          flex-flow row nowrap
          justify-content space-evenly
          @media (max-width 1170px)
            flex-wrap wrap
          div.team-gallery-item
            margin 7px
            position relative
            &:hover
              cursor pointer
              figcaption
                background-color #3a454d
                h3, p
                  color #d7d8d9
              .social
                display block
            figure
              img
                padding 0
              figcaption
                padding 20px
                margin-top -4px
                background-color #e1e6ea
                h3
                  uppercase()
                  color $dark-blue-color
                  font 16px 'QuattrocentoSans-Bold'
                p
                  color $gray-color
                  font 14px 'OpenSans-Regular'
            div.social
              display $none
              margin 50% 20%
              position absolute
              a
                padding 15px
                color $white-color
                font 28px 'Socialico'
                background-color #3a454d
  &.lovely-work
    background-color #3a454d
    div.container:only-child
      flex-flow column wrap
      padding 80px 30px 100px
      h2
        margin-bottom 70px
        color $white-color
        font-family 'QuattrocentoSans-Bold', serif
        &:before
          vertical-align middle
          content url("../images/border-left-dark.png")
      button
        margin-top 60px
        margin-left 80px
        align-self center
        @media (max-width 1230px)
          margin-left 0
      div.container
        padding 0
        flex-flow column nowrap
        div.work-gallery
          display flex
          flex-flow row nowrap
          @media (max-width 1160px)
            flex-wrap wrap-reverse
            justify-content center
          div.work-gallery-item
            width 340px
            height 250px
            margin 15px
            transition all .3s ease-in-out
            @media (max-width 1160px)
              margin 0 10px 30px
            @media (min-width 1160px)
              &:first-child
                margin-left 0
              &:last-child
                margin-right 0
            &:hover
              cursor pointer
              div.overlay
                opacity 1
            div.overlay
              opacity 0
              width 100%
              height inherit
              position relative
              transition all .3s ease-in-out
              background rgba(0, 0, 0, 0.5) url("../images/overlay-plus.png") no-repeat center 40%
              p
                bottom 0
                width 100%
                uppercase()
                color #d5d5d5
                padding 25px 15px
                position absolute
                background-color $dark-blue-color
                font 18px 'QuattrocentoSans-Regular'
            &.item1
              background url("../images/work-gallery-item1.png") no-repeat center
              background-size 340px
            &.item2
              background url("../images/work-gallery-item2.png") no-repeat center
              background-size 340px
            &.item3
              background url("../images/work-gallery-item3.png") no-repeat center
              background-size 340px
            &.item4
              background url("../images/work-gallery-item4.png") no-repeat center
              background-size 340px
            &.item5
              background url("../images/work-gallery-item5.png") no-repeat center
              background-size 340px
            &.item6
              background url("../images/work-gallery-item6.png") no-repeat center
              background-size 340px
  &.we-do
    div.container:only-child
      flex-flow column wrap
      padding 80px 30px 100px
      h2
        margin-bottom 70px
        color $dark-blue-color
        &:before
          vertical-align middle
          content url("../images/border-left-light.png")
      div.container
        padding 0
        flex-flow column nowrap
        @media (min-width 680px) and (max-width 1000px)
          flex-flow unset
        div.features
          display flex
          margin-bottom 70px
          flex-flow row nowrap
          justify-content center
          &:last-child
            margin-bottom 0
          @media (max-width 1000px)
            flex-wrap wrap
            margin-bottom 0
          p
            color $gray-color
          h3
            uppercase()
            color #292f36
            margin-bottom 20px
            font 17px 'QuattrocentoSans-Bold'
          div.features-item
            text-align center
            margin-bottom 30px
            padding 100px 8px 0
            &:first-child
              padding-left 0
            &:last-child
              padding-right 0
            &.item1
              background url("../images/settings-icon.png") no-repeat top center
            &.item2
              background url("../images/pencil-icon.png") no-repeat top center
            &.item3
              background url("../images/phone-icon.png") no-repeat top center
            &.item4
              background url("../images/clock-icon.png") no-repeat top center
  &.features-gallery
    background-color #3a454d
    div.container:only-child
      flex-flow column wrap
      padding 80px 30px 100px
      h2
        margin-bottom 70px
        color $white-color
        font-family 'QuattrocentoSans-Bold', serif
        &:before
          vertical-align middle
          content url("../images/border-left-dark.png")
      div.container
        padding 0
        flex-flow column nowrap
        div.feature-gallery
          display flex
          flex-flow row nowrap
          @media (max-width 1140px)
            flex-wrap wrap
            justify-content center
          div.features-gallery-item
            margin 15px
            @media (max-width 1140px)
              text-align center
              margin 0 0 40px
            &:first-child
              margin-left 0
            &:last-child
              margin-right 0
            figure
              img
                width 340px
              figcaption
                color $white-color
                h3
                  uppercase()
                  margin 50px 0 30px
                  font: 18px/28px 'QuattrocentoSans-Bold';
                p
                  font: 14px/24px 'OpenSans-Regular';
  &.feedback
    div.container1
      display flex
      max-width 1140px
      margin $zero auto
      flex-flow column wrap
      padding 80px 30px 65px
      h2
        color $dark-blue-color
        font-family 'QuattrocentoSans-Bold', serif
        &:before
          vertical-align middle
          content url("../images/border-left-light.png")
    div.map
      height: 346px
      background url("../images/map.png") no-repeat center
      background-size cover
    div.container
      flex-flow row nowrap
      padding 65px 30px 100px
      justify-content space-between
      @media (max-width 1110px)
        align-items center
        flex-flow column wrap
      div.info
        h3
          uppercase()
          margin 0 0 40px
          color $dark-blue-color
          font: 20px/30px 'QuattrocentoSans-Bold';
        p
          color $gray-color
          margin-bottom 35px
          font: 16px/26px 'OpenSans-Regular';
          span
            font-family: 'OpenSans-Bold', sans-serif
      div.contact
        width 60%
        padding 30px
        margin-left 30px
        margin-top -210px
        background-color $white-color
        @media (max-width 1110px)
          margin 0
          padding 0
          width 100%
        div
          display inline-flex
          margin 0 15px 30px 0
          flex-flow column nowrap
        input
          width 270px
          border $none
          padding 20px
          margin-top 5px
          border-radius 10px
          background-color #eaeef1
          font 14px/24px 'QuattrocentoSans-Bold'
        label
          uppercase()
          color $gray-color
          font 14px/24px 'QuattrocentoSans-Bold'
        button
          display flex
        textarea
          width 560px
          height 160px
          padding 20px
          resize $none
          border $none
          margin-top 5px
          border-radius 10px
          background-color #eaeef1
          font 14px/24px 'QuattrocentoSans-Bold'
          @media (max-width 635px)
            width 270px
footer
  background-color #3a454d
  div.container
    padding 30px
    color $white-color
    flex-flow row wrap
    align-content center
    justify-content space-between
    p.copyright
      align-self center
      font 14px 'OpenSans-Regular'
    div.social
      display flex
      flex-flow row wrap
      p.social
        margin 0 10px
        font 28px 'Socialico'