@font-face {
  font-family: 'Majesti-Banner-Bold';
  src: url('../fonts/Majesti-Banner-Bold.otf');
}
@font-face {
  font-family: 'Majesti-Banner-Medium';
  src: url('../fonts/Majesti-Banner-Medium.otf');
}
@font-face {
  font-family: 'Majesti-Banner-MediumItalic';
  src: url('../fonts/Majesti-Banner-MediumItalic.otf');
}