@import "general";

.container {
  max-width: 1170px;
  margin: $zero auto;
  padding: $zero 20px;
}

#wrapper {
  min-width: 500px;
}

header {
  width: 100%;
  padding-bottom: 130px;
  background: url("../images/bg-header.png") no-repeat center;
  background-size: cover;
  nav {
    margin-left: 155px;
    @media (max-width: 1100px) { margin-left: 50%; }
    ul {
      display: grid;
      grid-column-gap: 2em;
      justify-items: center;
      grid-template-columns: repeat(auto-fit, 150px);
      @media (max-width: 1100px) {
        justify-items: end;
        grid-template-columns: 1fr;
      }
      li {
        padding: 60px 10px 0;
        display: inline-grid;
        @media (max-width: 1100px) {
          padding-top: 40px;
          margin-right: 25px;
          display: inline-block;
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.5);
        }
        a {
          color: $white-color;
          font: 26.72px 'Majesti-Banner-Medium';
        }
      }
    }
  }
  div#header-logo {
    width: 50%;
    display: grid;
    margin-top: 130px;
    padding: 170px 0 85px 35px;
    background: url("../images/bg-logo.png") no-repeat;
    grid-template-columns: 100px repeat(auto-fit, minmax(250px, 1fr));
    @media (max-width: 1100px) {
      width: 100%;
      background-size: cover;
    }
    div:first-child {
      padding-left: 5px;
      a {
        display: block;
        margin-bottom: 15px;
        &:nth-child(1) {
          width: 34px;
          height: 35px;
          background: url("../images/facebook-icon.png") no-repeat center;
        }
        &:nth-child(2) {
          width: 36px;
          height: 37px;
          background: url("../images/twitter-icon.png") no-repeat center;
        }
        &:nth-child(3) {
          width: 34px;
          height: 35px;
          background: url("../images/pinterest-icon.png") no-repeat center;
        }
        &:nth-child(4) {
          width: 35px;
          height: 36px;
          background: url("../images/twitter-icon2.png") no-repeat center;
        }
      }
    }
  }
}

div#about-us {
  padding-top: 30px;
  padding-bottom: 167px;
  background-color: #faf6f6;
  div.container {
    display: grid;
    margin: 0 auto;
    max-width: 1470px;
    grid-gap: 2em;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1100px) {
      grid-template-columns: 1fr;
    }
    h2 {
      color: $dark-gray-text-color;
      font: 3em 'Majesti-Banner-Bold';
    }
    p {
      &.category {
        margin-bottom: 40px;
        color: $light-gray-text-color;
        font: 1.7em 'Majesti-Banner-Bold';
      }
      &.description {
        max-width: 550px;
        margin: 40px 0 100px;
        color: $light-gray-text-color;
        font: 1.2em/1.5em 'Majesti-Banner-Medium';
        @media (max-width: 1100px) { margin-bottom: 50px; }
      }
    }
    a.button {
      @include button($gray-text-color, capitalize, 18.13px 'Majesti-Banner-Medium');
      border: 2px solid $light-gray-text-color;
      padding: 5px 17px;
      border-radius: 15px;
    }
    div:first-child {
      width: 100%;
      background: url("../images/about-us-img.png") no-repeat center;
      background-size: contain;
      @media (max-width: 1100px) { height: 350px; }
    }
    div:last-child { justify-self: center; }
  }
  div.upcoming-event {
    h2 {
      color: #181818;
      margin-top: 167px;
      text-align: center;
      font: 3em 'Majesti-Banner-Bold';
      @media (max-width: 1000px) { margin-top: 70px; }
    }
    p.category {
      text-align: center;
      margin-bottom: 40px;
      color: $gray-text-color;
      font: 0.9em 'Majesti-Banner-Bold';
    }
    div#next-event {
      width: 100%;
      display: grid;
      max-width: 1200px;
      justify-items: center;
      margin: 80px auto 0;
      grid-template-columns: 350px repeat(4, 1fr);
      @media (max-width: 1000px) {
        grid-gap: 2em;
        margin-top: 0;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      }
      div[class^="item"] {
        display: inline-grid;
        justify-items: center;
      }
      p {
        font-family: 'Majesti-Banner-Bold', sans-serif;
        &.row1 {
          font-size: 3em;
          color: $dark-gray-text-color;
        }
        &.row2 {
          font-size: 1em;
          color: $light-gray-text-color;
        }
      }
    }
  }
}

div#anderson {
  padding: 0 170px;
  background: url("../images/anderson.png") no-repeat top center;
  background-size: cover;
  @media (max-width: 1100px) {
    padding: 0 30px;
  }
  div.container {
    margin: 0 auto;
    color: $white-color;
    h2 {
      font: 3em 'Majesti-Banner-Bold';
      &:first-child { padding-top: 167px; }
    }
    h4 {
      margin-bottom: 40px;
      font: 1.5em 'Majesti-Banner-Bold';
      &::before {
        content: url("../images/white-line.png");
      }
    }
    a {
      display: inline-block;
      margin-bottom: 170px;
      border-color: $gray-text-color;
      @include button($gray-text-color, capitalize, 1em 'Majesti-Banner-Bold');
    }
    p {
      width: 50%;
      margin-bottom: 40px;
      color: $gray-text-color;
      font: 1em/1.5em 'Majesti-Banner-Bold';
      @media (max-width: 1100px) {
        width: 65%;
      }
    }
  }
}

div#singers {
  padding: 100px 0;
  background-color: #faf6f6;
  div.container {
    margin: 0 auto;
    max-width: 1470px;
    text-align: center;
    h2 {
      color: $almost-black-text-color;
      font: 3em 'Majesti-Banner-Bold';
    }
    p {
      &.category {
        margin-bottom: 0;
        color: $almost-black-text-color;
        font: 1.2em 'Majesti-Banner-Bold';
      }
      &.description {
        max-width: 550px;
        margin: 20px auto 80px;
        color: $light-gray-text-color;
        font: 1.2em/1.5em 'Majesti-Banner-Medium';
        @media (max-width: 1100px) { margin-bottom: 50px; }
      }
    }
    div#singer-gallery {
      margin: 0 auto;
      max-width: 1470px;
      div.container {
        display: grid;
        grid-gap: 2em;
        margin-bottom: 20px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        @media (min-width: 911px) and (max-width: 1193px) {
          display: inline-grid;
        }
      }
      p {
        margin: 5px auto;
        font-family: 'Majesti-Banner-Medium', sans-serif;
        &.name {
          color: #2b2b2b;
          font-size: 1.7em;
        }
        &.title {
          color: #2b2b2b;
          font-size: 0.7em;
          @extend .uppercase;
        }
      }
    }
  }
}

div#latest-albums {
  background: url("../images/bg-latest-album.png") no-repeat top center;
  div.container {
    padding: 147px 30px;
    h2 {
      color: $white-color;
      font: 4em 'Majesti-Banner-Medium';
    }
  }
}

div#next-tours {
  padding: 60px 0;
  background-color: #faf6f6;
  div.container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: center;
    h2 {
      color: $almost-black-text-color;
      font: 4em 'Majesti-Banner-Medium';
    }
    p.description {
      color: #4a4a4a;
      margin-bottom: 80px;
      font: 1.2em/1.5em 'Majesti-Banner-Medium';
    }
    div.schedule-tours {
      display: grid;
      grid-row-gap: 3em;
      div.tour-line {
        display: grid;
        justify-content: space-evenly;
        background-color: $white-color;
        box-shadow: -1px 0px 31px -1px rgba(0,0,0,0.25);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        div.tour-item {
          padding: 20px 10px;
          display: inline-grid;
          justify-content: center;
          a.button {
            color: #5a5a5a;
            border-radius: 30px;
            align-self: center;
            border-color: #eee;
            justify-self: center;
          }
          p {
            margin: 5px auto;
            font-family: 'Majesti-Banner-Bold', sans-serif;
            &.row1 {
              color: #4a4a4a;
              font-size: 1.3em;
            }
            &.row2 {
              color: #7c7c7c;
              font-size: 0.8em;
            }
          }
        }
      }
    }
  }
}

div#musician {
  width: 100%;
  min-height: 400px;
  background: url("../images/musician.png") no-repeat top center;
  background-size: cover;
}

@import "import-fonts";