@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: 'QuattrocentoSans-Bold';
  src: url("../fonts/QuattrocentoSans-Bold.ttf");
}
@font-face {
  font-family: 'QuattrocentoSans-Regular';
  src: url("../fonts/QuattrocentoSans-Regular.ttf");
}
@font-face {
  font-family: 'Socialico';
  src: url("../fonts/Socialico.ttf");
}
* {
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}
#wrapper {
  min-width: 450px;
}
html,
body {
  height: 100%;
  background: #fff;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
div.container {
  display: flex;
}
button {
  cursor: pointer;
  padding: 15px 20px;
}
button.green {
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 6px;
  font: 14px 'QuattrocentoSans-Regular';
  color: #fff;
  background-color: #23b7a4;
  border: none;
  border: 2px solid #23b7a4;
}
button.transparent {
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 6px;
  font: 14px 'QuattrocentoSans-Regular';
  color: #c1c3c9;
  background-color: transparent;
  border: none;
  border: 2px solid #fff;
}
hr {
  width: 100%;
  height: 2px;
  border: none;
  display: block;
  color: #dde1e4;
  background: #dde1e4;
}
h2 {
  text-transform: uppercase;
  font: 36px 'QuattrocentoSans-Regular';
}
p {
  font: 16px/26px 'OpenSans-Regular';
}
header nav {
  background-color: #1d2126;
}
header nav div.container {
  display: flex;
  padding: 30px;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header nav div.container div.logo {
  flex-grow: 3;
  width: 99px;
  height: 19px;
  background: url("../images/modest-logo.png") no-repeat left center;
}
header nav div.container ul.nav {
  flex-grow: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
@media (max-width: 720px) {
  header nav div.container ul.nav {
    flex-grow: 1;
    align-items: center;
    flex-flow: column wrap;
  }
}
header nav div.container ul.nav li {
  padding: 5px;
  color: #a4aead;
  list-style: none;
  border-radius: 4px;
  border: 2px solid transparent;
}
header nav div.container ul.nav li:hover {
  border-color: #a4aead;
}
header nav div.container ul.nav li:first-child {
  color: #23b7a4;
  border: 2px solid #23b7a4;
}
header nav div.container ul.nav li a {
  text-transform: uppercase;
  font: 14px 'OpenSans-SemiBold';
}
header div.app {
  background: url("../images/bg-header.png") no-repeat center;
  background-size: cover;
}
header div.app div.container {
  padding: 220px 30px;
}
@media (max-width: 615px) {
  header div.app div.container {
    padding: 205px 30px;
  }
}
header div.app div.container div.app-info {
  height: 200px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
@media (max-width: 615px) {
  header div.app div.container div.app-info {
    height: 250px;
  }
}
header div.app div.container div.app-info button {
  flex: none;
}
header div.app div.container div.app-info button.green:hover {
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 6px;
  font: 14px 'QuattrocentoSans-Regular';
  color: #c1c3c9;
  background-color: transparent;
  border: none;
  border: 2px solid #fff;
}
header div.app div.container div.app-info button.transparent:hover {
  text-transform: uppercase;
  margin-right: 10px;
  border-radius: 6px;
  font: 14px 'QuattrocentoSans-Regular';
  color: #fff;
  background-color: #23b7a4;
  border: none;
  border: 2px solid #23b7a4;
}
header div.app div.container div.app-info h2 {
  color: #fff;
}
header div.app div.container div.app-info p {
  color: #bfc2ca;
}
div.about-us div.container:only-child {
  flex-flow: column wrap;
  padding: 80px 30px 100px;
}
div.about-us div.container:only-child h2 {
  margin-bottom: 70px;
  color: #292f36;
}
div.about-us div.container:only-child h2:before {
  vertical-align: middle;
  content: url("../images/border-left-light.png");
}
div.about-us div.container:only-child div.container {
  padding: 0;
  flex-flow: row nowrap;
}
@media (max-width: 900px) {
  div.about-us div.container:only-child div.container {
    flex-direction: column-reverse;
  }
}
div.about-us div.container:only-child div.container div.item1 {
  margin-right: 20px;
  color: #8d8f92;
  flex-basis: 1590px;
  flex-direction: column;
}
@media (max-width: 900px) {
  div.about-us div.container:only-child div.container div.item1 {
    flex-basis: auto;
  }
}
div.about-us div.container:only-child div.container div.item1 p {
  margin-bottom: 30px;
}
div.about-us div.container:only-child div.container div.item1 p span {
  font-family: 'QuattrocentoSans-Bold', sans-serif;
}
div.about-us div.container:only-child div.container div.item1 div.social a {
  padding: 15px;
  color: #fff;
  font: 46px 'Socialico';
  background-color: #d0d5d9;
}
div.about-us div.container:only-child div.container div.item2 {
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
div.about-us div.container:only-child div.container div.item2 div.feature-item {
  display: flex;
  align-items: flex-start;
}
div.about-us div.container:only-child div.container div.item2 div.feature-item span {
  flex: none;
  padding: 15px;
  color: #fff;
  background-color: #23b7a4;
  font: 20px 'QuattrocentoSans-Regular';
}
div.about-us div.container:only-child div.container div.item2 div.feature-item div {
  flex: auto;
  padding-left: 20px;
}
div.about-us div.container:only-child div.container div.item2 div.feature-item div p {
  color: #8d8f92;
  margin-bottom: 30px;
}
div.about-us div.container:only-child div.container div.item2 div.feature-item div h3 {
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #292f36;
  font: 18px 'QuattrocentoSans-Bold';
}
div.team div.container:only-child {
  flex-flow: column wrap;
  padding: 80px 30px 100px;
}
div.team div.container:only-child h2 {
  margin-bottom: 70px;
  color: #292f36;
}
div.team div.container:only-child h2:before {
  vertical-align: middle;
  content: url("../images/border-left-light.png");
}
div.team div.container:only-child div.container {
  padding: 0;
}
div.team div.container:only-child div.container div.team-gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
@media (max-width: 1170px) {
  div.team div.container:only-child div.container div.team-gallery {
    flex-wrap: wrap;
  }
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item {
  margin: 7px;
  position: relative;
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item:hover {
  cursor: pointer;
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item:hover figcaption {
  background-color: #3a454d;
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item:hover figcaption h3,
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item:hover figcaption p {
  color: #d7d8d9;
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item:hover .social {
  display: block;
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item figure img {
  padding: 0;
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item figure figcaption {
  padding: 20px;
  margin-top: -4px;
  background-color: #e1e6ea;
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item figure figcaption h3 {
  text-transform: uppercase;
  color: #292f36;
  font: 16px 'QuattrocentoSans-Bold';
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item figure figcaption p {
  color: #8d8f92;
  font: 14px 'OpenSans-Regular';
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item div.social {
  display: none;
  margin: 50% 20%;
  position: absolute;
}
div.team div.container:only-child div.container div.team-gallery div.team-gallery-item div.social a {
  padding: 15px;
  color: #fff;
  font: 28px 'Socialico';
  background-color: #3a454d;
}
div.lovely-work {
  background-color: #3a454d;
}
div.lovely-work div.container:only-child {
  flex-flow: column wrap;
  padding: 80px 30px 100px;
}
div.lovely-work div.container:only-child h2 {
  margin-bottom: 70px;
  color: #fff;
  font-family: 'QuattrocentoSans-Bold', serif;
}
div.lovely-work div.container:only-child h2:before {
  vertical-align: middle;
  content: url("../images/border-left-dark.png");
}
div.lovely-work div.container:only-child button {
  margin-top: 60px;
  margin-left: 80px;
  align-self: center;
}
@media (max-width: 1230px) {
  div.lovely-work div.container:only-child button {
    margin-left: 0;
  }
}
div.lovely-work div.container:only-child div.container {
  padding: 0;
  flex-flow: column nowrap;
}
div.lovely-work div.container:only-child div.container div.work-gallery {
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 1160px) {
  div.lovely-work div.container:only-child div.container div.work-gallery {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item {
  width: 340px;
  height: 250px;
  margin: 15px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1160px) {
  div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item {
    margin: 0 10px 30px;
  }
}
@media (min-width: 1160px) {
  div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item:first-child {
    margin-left: 0;
  }
  div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item:last-child {
    margin-right: 0;
  }
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item:hover {
  cursor: pointer;
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item:hover div.overlay {
  opacity: 1;
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item div.overlay {
  opacity: 0;
  width: 100%;
  height: inherit;
  position: relative;
  transition: all 0.3s ease-in-out;
  background: rgba(0,0,0,0.5) url("../images/overlay-plus.png") no-repeat center 40%;
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item div.overlay p {
  bottom: 0;
  width: 100%;
  text-transform: uppercase;
  color: #d5d5d5;
  padding: 25px 15px;
  position: absolute;
  background-color: #292f36;
  font: 18px 'QuattrocentoSans-Regular';
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item.item1 {
  background: url("../images/work-gallery-item1.png") no-repeat center;
  background-size: 340px;
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item.item2 {
  background: url("../images/work-gallery-item2.png") no-repeat center;
  background-size: 340px;
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item.item3 {
  background: url("../images/work-gallery-item3.png") no-repeat center;
  background-size: 340px;
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item.item4 {
  background: url("../images/work-gallery-item4.png") no-repeat center;
  background-size: 340px;
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item.item5 {
  background: url("../images/work-gallery-item5.png") no-repeat center;
  background-size: 340px;
}
div.lovely-work div.container:only-child div.container div.work-gallery div.work-gallery-item.item6 {
  background: url("../images/work-gallery-item6.png") no-repeat center;
  background-size: 340px;
}
div.we-do div.container:only-child {
  flex-flow: column wrap;
  padding: 80px 30px 100px;
}
div.we-do div.container:only-child h2 {
  margin-bottom: 70px;
  color: #292f36;
}
div.we-do div.container:only-child h2:before {
  vertical-align: middle;
  content: url("../images/border-left-light.png");
}
div.we-do div.container:only-child div.container {
  padding: 0;
  flex-flow: column nowrap;
}
@media (min-width: 680px) and (max-width: 1000px) {
  div.we-do div.container:only-child div.container {
    flex-flow: unset;
  }
}
div.we-do div.container:only-child div.container div.features {
  display: flex;
  margin-bottom: 70px;
  flex-flow: row nowrap;
  justify-content: center;
}
div.we-do div.container:only-child div.container div.features:last-child {
  margin-bottom: 0;
}
@media (max-width: 1000px) {
  div.we-do div.container:only-child div.container div.features {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}
div.we-do div.container:only-child div.container div.features p {
  color: #8d8f92;
}
div.we-do div.container:only-child div.container div.features h3 {
  text-transform: uppercase;
  color: #292f36;
  margin-bottom: 20px;
  font: 17px 'QuattrocentoSans-Bold';
}
div.we-do div.container:only-child div.container div.features div.features-item {
  text-align: center;
  margin-bottom: 30px;
  padding: 100px 8px 0;
}
div.we-do div.container:only-child div.container div.features div.features-item:first-child {
  padding-left: 0;
}
div.we-do div.container:only-child div.container div.features div.features-item:last-child {
  padding-right: 0;
}
div.we-do div.container:only-child div.container div.features div.features-item.item1 {
  background: url("../images/settings-icon.png") no-repeat top center;
}
div.we-do div.container:only-child div.container div.features div.features-item.item2 {
  background: url("../images/pencil-icon.png") no-repeat top center;
}
div.we-do div.container:only-child div.container div.features div.features-item.item3 {
  background: url("../images/phone-icon.png") no-repeat top center;
}
div.we-do div.container:only-child div.container div.features div.features-item.item4 {
  background: url("../images/clock-icon.png") no-repeat top center;
}
div.features-gallery {
  background-color: #3a454d;
}
div.features-gallery div.container:only-child {
  flex-flow: column wrap;
  padding: 80px 30px 100px;
}
div.features-gallery div.container:only-child h2 {
  margin-bottom: 70px;
  color: #fff;
  font-family: 'QuattrocentoSans-Bold', serif;
}
div.features-gallery div.container:only-child h2:before {
  vertical-align: middle;
  content: url("../images/border-left-dark.png");
}
div.features-gallery div.container:only-child div.container {
  padding: 0;
  flex-flow: column nowrap;
}
div.features-gallery div.container:only-child div.container div.feature-gallery {
  display: flex;
  flex-flow: row nowrap;
}
@media (max-width: 1140px) {
  div.features-gallery div.container:only-child div.container div.feature-gallery {
    flex-wrap: wrap;
    justify-content: center;
  }
}
div.features-gallery div.container:only-child div.container div.feature-gallery div.features-gallery-item {
  margin: 15px;
}
@media (max-width: 1140px) {
  div.features-gallery div.container:only-child div.container div.feature-gallery div.features-gallery-item {
    text-align: center;
    margin: 0 0 40px;
  }
}
div.features-gallery div.container:only-child div.container div.feature-gallery div.features-gallery-item:first-child {
  margin-left: 0;
}
div.features-gallery div.container:only-child div.container div.feature-gallery div.features-gallery-item:last-child {
  margin-right: 0;
}
div.features-gallery div.container:only-child div.container div.feature-gallery div.features-gallery-item figure img {
  width: 340px;
}
div.features-gallery div.container:only-child div.container div.feature-gallery div.features-gallery-item figure figcaption {
  color: #fff;
}
div.features-gallery div.container:only-child div.container div.feature-gallery div.features-gallery-item figure figcaption h3 {
  text-transform: uppercase;
  margin: 50px 0 30px;
  font: 18px/28px 'QuattrocentoSans-Bold';
}
div.features-gallery div.container:only-child div.container div.feature-gallery div.features-gallery-item figure figcaption p {
  font: 14px/24px 'OpenSans-Regular';
}
div.feedback div.container1 {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  flex-flow: column wrap;
  padding: 80px 30px 65px;
}
div.feedback div.container1 h2 {
  color: #292f36;
  font-family: 'QuattrocentoSans-Bold', serif;
}
div.feedback div.container1 h2:before {
  vertical-align: middle;
  content: url("../images/border-left-light.png");
}
div.feedback div.map {
  height: 346px;
  background: url("../images/map.png") no-repeat center;
  background-size: cover;
}
div.feedback div.container {
  flex-flow: row nowrap;
  padding: 65px 30px 100px;
  justify-content: space-between;
}
@media (max-width: 1110px) {
  div.feedback div.container {
    align-items: center;
    flex-flow: column wrap;
  }
}
div.feedback div.container div.info h3 {
  text-transform: uppercase;
  margin: 0 0 40px;
  color: #292f36;
  font: 20px/30px 'QuattrocentoSans-Bold';
}
div.feedback div.container div.info p {
  color: #8d8f92;
  margin-bottom: 35px;
  font: 16px/26px 'OpenSans-Regular';
}
div.feedback div.container div.info p span {
  font-family: 'OpenSans-Bold', sans-serif;
}
div.feedback div.container div.contact {
  width: 60%;
  padding: 30px;
  margin-left: 30px;
  margin-top: -210px;
  background-color: #fff;
}
@media (max-width: 1110px) {
  div.feedback div.container div.contact {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}
div.feedback div.container div.contact div {
  display: inline-flex;
  margin: 0 15px 30px 0;
  flex-flow: column nowrap;
}
div.feedback div.container div.contact input {
  width: 270px;
  border: none;
  padding: 20px;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #eaeef1;
  font: 14px/24px 'QuattrocentoSans-Bold';
}
div.feedback div.container div.contact label {
  text-transform: uppercase;
  color: #8d8f92;
  font: 14px/24px 'QuattrocentoSans-Bold';
}
div.feedback div.container div.contact button {
  display: flex;
}
div.feedback div.container div.contact textarea {
  width: 560px;
  height: 160px;
  padding: 20px;
  resize: none;
  border: none;
  margin-top: 5px;
  border-radius: 10px;
  background-color: #eaeef1;
  font: 14px/24px 'QuattrocentoSans-Bold';
}
@media (max-width: 635px) {
  div.feedback div.container div.contact textarea {
    width: 270px;
  }
}
footer {
  background-color: #3a454d;
}
footer div.container {
  padding: 30px;
  color: #fff;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
}
footer div.container p.copyright {
  align-self: center;
  font: 14px 'OpenSans-Regular';
}
footer div.container div.social {
  display: flex;
  flex-flow: row wrap;
}
footer div.container div.social p.social {
  margin: 0 10px;
  font: 28px 'Socialico';
}
