* {
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #fff;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
#wrapper {
  min-width: 450px;
}
span.sep {
  width: 100%;
  height: 13px;
  display: block;
  margin: 25px auto 65px;
  background: url("../images/separator.png") no-repeat center;
  background-size: 550px;
}
span.green-sep {
  width: 100%;
  height: 3px;
  display: block;
  margin: 30px auto;
  background: url("../images/green-sep.png") no-repeat center;
  background-size: 40px;
}
h2.title {
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 2px;
  font: 15px/25px 'GothamRounded-Medium';
}
ul.switch {
  margin-top: 130px;
}
ul.switch li {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  list-style: none;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #8c9398;
}
ul.switch li:hover {
  cursor: pointer;
}
ul.switch li:first-child {
  background-color: #000;
}
ul.social {
  margin-top: 40px;
}
ul.social li {
  margin: 0 5px;
  display: inline-block;
}
ul.social li a {
  width: 40px;
  height: 41px;
  display: block;
}
ul.social li a.dr {
  background: url("../images/dribble-icon.png") no-repeat center;
}
ul.social li a.tw {
  background: url("../images/twitter-icon.png") no-repeat center;
}
ul.social li a.mail {
  background: url("../images/mail-icon.png") no-repeat center;
}
p {
  color: #8c9398;
  font: 14px/20px 'GothamRounded-Medium';
}
@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.otf');
}
@font-face {
  font-family: 'GothamRounded-BookItalic';
  src: url('../fonts/GothamRounded-BookItalic.otf');
}
@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.otf');
}
@font-face {
  font-family: 'GothamRounded-MediumItalic';
  src: url('../fonts/GothamRounded-MediumItalic.otf');
}
#wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
}
header {
  grid-row: 1 / span 1;
  text-align: center;
  grid-column: span 8;
  padding: 0 30px 340px;
  background: url("../images/bg-jumbotron.png") no-repeat center;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  background-size: cover;
}
header nav {
  width: 27px;
  height: 22px;
  right: 100px;
  margin: 65px 0 0;
  justify-self: end;
  position: absolute;
  background: url("../images/hamburger-nav.png") no-repeat center;
}
header nav:hover {
  cursor: pointer;
}
@media (max-width: 600px) {
  header nav {
    display: none;
  }
}
header h1 {
  text-transform: uppercase;
  color: #353535;
  margin: 255px 0 25px;
  letter-spacing: 15px;
  font: 40px/50px 'GothamRounded-Book';
}
header h1 span {
  color: #8c9398;
}
@media (max-width: 600px) {
  header h1 {
    font-size: 30px;
  }
}
header p {
  color: #8c9398;
  letter-spacing: 4px;
  font: 15px/25px 'GothamRounded-Book';
}
header p span {
  font-family: 'GothamRounded-MediumItalic', sans-serif;
}
header a {
  text-transform: uppercase;
  width: 200px;
  display: block;
  padding: 17px 25px;
  border-radius: 7px;
  color: #fff;
  margin: 67px auto 0;
  background-color: #3dc9b3;
  font: 15px 'GothamRounded-Medium';
  box-shadow: 0 4px 0 0 #309383;
}
header a:hover {
  color: #fff;
}
main {
  grid-column: span 8;
  grid-row: 2 / span 1;
}
main section#intro {
  text-align: center;
  justify-items: center;
  justify-content: center;
  background-color: #f3f5f8;
  padding: 7em 1.875em 8.125em;
}
main section#intro p {
  max-width: 735px;
  color: #8c9398;
  margin: 0 auto;
  font: 14px/30px 'GothamRounded-Medium';
}
main section#intro p span {
  color: #353535;
}
main section#services-generic {
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 7em 1.875em 8.125em;
  background-color: #fff;
  grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
}
main section#services-generic h2,
main section#services-generic span {
  grid-column: 2 / span 2;
}
main section#services-generic ul#services-gallery {
  display: grid;
  grid-gap: 2em;
  grid-column: 2 / span 2;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
@media (max-width: 900px) {
  main section#services-generic ul#services-gallery {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(395px, 1fr));
  }
}
main section#services-generic ul#services-gallery li {
  text-align: center;
  list-style-type: none;
}
@media (min-width: 829px) and (max-width: 900px) {
  main section#services-generic ul#services-gallery li:last-child {
    grid-column: 1 / span 2;
  }
}
main section#services-generic ul#services-gallery li h3 {
  text-transform: uppercase;
  color: #353535;
  font: 15px 'GothamRounded-Medium';
}
main section#services-iphone {
  display: grid;
  justify-content: center;
  background-color: #fff;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}
@media (max-width: 900px) {
  main section#services-iphone {
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
main section#services-iphone div#bg-services-iphone {
  grid-column: 1 / span 2;
  background: url("../images/services-iphone.png") no-repeat right center;
  background-size: cover;
}
main section#services-iphone div.description {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  grid-column: 3 / span 2;
  padding: 7em 6em 8.125em;
}
@media (max-width: 900px) {
  main section#services-iphone div.description {
    grid-row: span 2;
    grid-column: span 2;
  }
}
main section#services-iphone div.description p {
  margin-bottom: 30px;
  text-align: justify;
  line-height: 1.7em;
}
main section#counter {
  text-transform: uppercase;
  display: grid;
  padding: 0 30px;
  text-align: center;
  color: #fff;
  justify-items: center;
  grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  background: url("../images/bg-counter.png") no-repeat center;
  background-size: cover;
}
main section#counter h1 {
  margin: 80px 0 30px;
  letter-spacing: 15px;
  grid-column: 2 / span 2;
  font: 40px/50px 'GothamRounded-Book';
}
main section#counter h3 {
  margin-bottom: 45px;
  letter-spacing: 15px;
  grid-column: 2 / span 2;
  font: 25px/35px 'GothamRounded-Book';
}
main section#counter h3 span {
  font-family: 'GothamRounded-MediumItalic', sans-serif;
}
main section#counter a {
  width: 44px;
  height: 44px;
  display: block;
  margin-bottom: 55px;
  grid-column: 2 / span 2;
  background: url("../images/green-arrow-down.png") no-repeat center;
}
main section#portfolio {
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 7em 1.875em 8.125em;
  background-color: #fff;
  grid-template-columns: 1fr repeat(2, minmax(auto, 36em)) 1fr;
}
main section#portfolio ul.switch {
  grid-column: 2 / span 2;
}
main section#portfolio ul#portfolio-gallery {
  display: grid;
  grid-gap: 2em;
  grid-column: 2 / span 2;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
@media (max-width: 1200px) {
  main section#portfolio ul#portfolio-gallery {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
main section#portfolio ul#portfolio-gallery li {
  text-align: center;
  list-style-type: none;
}
@media (min-width: 829px) and (max-width: 1200px) {
  main section#portfolio ul#portfolio-gallery li:last-child {
    grid-column: 1 / span 2;
  }
}
main section#portfolio ul#portfolio-gallery li .p-gallery-item {
  width: 360px;
  height: 200px;
  margin: 0 auto 45px;
}
main section#portfolio ul#portfolio-gallery li .p-gallery-item span {
  opacity: 0;
  text-transform: uppercase;
  width: 100%;
  display: block;
  height: inherit;
  padding-top: 110px;
  color: #fff;
  transition: all 0.3s ease-out;
  font: 15px 'GothamRounded-Medium';
  background: rgba(61, 201, 179, 0.7) url("../images/search-icon.png") no-repeat center 40%;
}
main section#portfolio ul#portfolio-gallery li .p-gallery-item:hover span {
  opacity: 1;
  cursor: pointer;
}
main section#portfolio ul#portfolio-gallery li .p-gallery-item.item1 {
  background: url("../images/portfolio-gallery-item1.png") no-repeat center;
}
main section#portfolio ul#portfolio-gallery li .p-gallery-item.item2 {
  background: url("../images/portfolio-gallery-item2.png") no-repeat center;
}
main section#portfolio ul#portfolio-gallery li .p-gallery-item.item3 {
  background: url("../images/portfolio-gallery-item3.png") no-repeat center;
}
main section#portfolio ul#portfolio-gallery li h3 {
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 4px;
  font: 15px 'GothamRounded-Medium';
}
main section#portfolio ul#portfolio-gallery li p {
  line-height: 1.7em;
}
main section#ignite {
  display: grid;
  height: 200px;
  text-align: center;
  align-items: center;
  justify-items: center;
  background-color: #242830;
}
main section#ignite a {
  text-transform: uppercase;
  width: 300px;
  padding: 15px 20px;
  color: #fff;
  border: 1px solid #fff;
  font: 15px 'GothamRounded-Medium';
}
main section#team {
  display: grid;
  text-align: center;
  justify-content: center;
  padding: 7em 1.875em 8.125em;
  background-color: #fff;
  grid-template-columns: 1fr repeat(2, minmax(auto, 36em)) 1fr;
}
main section#team h2,
main section#team span {
  grid-column: 2 / span 2;
}
main section#team ul.switch {
  grid-column: 2 / span 2;
}
main section#team ul#team-gallery {
  display: grid;
  grid-gap: 2em;
  grid-column: 2 / span 2;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
@media (max-width: 1200px) {
  main section#team ul#team-gallery {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
main section#team ul#team-gallery li {
  text-align: center;
  list-style-type: none;
}
@media (min-width: 829px) and (max-width: 1200px) {
  main section#team ul#team-gallery li:last-child {
    grid-column: 1 / span 2;
  }
}
main section#team ul#team-gallery li .team-item {
  width: 360px;
  height: 200px;
  margin: 0 auto 45px;
}
main section#team ul#team-gallery li .team-item.item1 {
  background: url("../images/team-gallery-item1.png") no-repeat center;
}
main section#team ul#team-gallery li .team-item.item2 {
  background: url("../images/team-gallery-item2.png") no-repeat center;
}
main section#team ul#team-gallery li .team-item.item3 {
  background: url("../images/team-gallery-item3.png") no-repeat center;
}
main section#team ul#team-gallery li h3 {
  text-transform: uppercase;
  color: #353535;
  letter-spacing: 4px;
  font: 15px 'GothamRounded-Medium';
}
main section#team ul#team-gallery li p {
  line-height: 1.7em;
}
main section#subscribe {
  display: grid;
  height: 453px;
  justify-items: center;
  align-content: center;
  background: url("../images/bg-subscribe.png") no-repeat center;
  background-size: cover;
}
main section#subscribe h2 {
  color: #fff;
  margin-bottom: 45px;
}
main section#subscribe span#plane {
  width: 25px;
  height: 26px;
  display: block;
  margin-bottom: 20px;
  background: url("../images/plane-icon.png") no-repeat center;
}
main section#subscribe input {
  display: inline-block;
}
main section#subscribe input[type=text] {
  width: 350px;
  height: 65px;
  padding: 10px;
  margin-right: 5px;
  color: #fff;
  vertical-align: middle;
  background: transparent;
  border: 1px solid #fff;
  font: 18px 'GothamRounded-Book';
}
main section#subscribe input[type=submit] {
  text-transform: uppercase;
  height: 65px;
  border: none;
  padding: 10px 15px;
  color: #fff;
  letter-spacing: 2px;
  vertical-align: middle;
  background-color: #3dc9b3;
  font: 15px/25px 'GothamRounded-Medium';
}
main section#contacts {
  display: grid;
  text-align: center;
  grid-column: span 8;
  justify-content: center;
  padding: 7em 1.875em 8.125em;
  grid-template-columns: 1fr repeat(2, minmax(auto, 36em)) 1fr;
  background: #fff url("../images/bg-footer.png") no-repeat center;
  background-size: cover;
}
main section#contacts h2,
main section#contacts span,
main section#contacts ul.social {
  grid-column: 2 / span 2;
}
main section#contacts ul.social {
  margin-top: 100px;
}
main section#contacts ul#contact {
  display: grid;
  grid-gap: 2em;
  grid-column: 2 / span 2;
  justify-content: space-between;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
}
@media (max-width: 1200px) {
  main section#contacts ul#contact {
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }
}
main section#contacts ul#contact li {
  padding: 30px;
  text-align: center;
  list-style-type: none;
  background: #fff;
}
@media (min-width: 829px) and (max-width: 1200px) {
  main section#contacts ul#contact li:last-child {
    grid-column: 1 / span 2;
  }
}
main section#contacts ul#contact li span {
  width: 15px;
  height: 18px;
  margin: auto;
  display: block;
}
main section#contacts ul#contact li span#map {
  background: url("../images/footer-pos-icon.png") no-repeat center;
}
main section#contacts ul#contact li span#mail {
  background: url("../images/footer-plane-icon.png") no-repeat center;
}
main section#contacts ul#contact li span#phone {
  background: url("../images/footer-phone-icon.png") no-repeat center;
}
main section#contacts ul#contact li h3 {
  text-transform: uppercase;
  color: #3dc9b3;
  letter-spacing: 4px;
  margin: 15px auto 25px;
  font: 15px 'GothamRounded-Medium';
}
main section#contacts ul#contact li p {
  line-height: 1.7em;
}
footer {
  height: 120px;
  display: grid;
  padding: 30px;
  text-align: center;
  align-items: center;
  grid-column: span 8;
  grid-row: 3 / span 2;
  justify-items: center;
  background-color: #242830;
  grid-template-columns: 1fr repeat(2, minmax(auto, 36em)) 1fr;
}
@media (max-width: 1000px) {
  footer {
    grid-template-columns: 1fr;
  }
}
footer p {
  color: #f5f5f5;
  font: 14px/24px 'GothamRounded-Book';
}
footer p.copy {
  justify-self: start;
  grid-column: 2 / span 1;
}
@media (max-width: 1000px) {
  footer p.copy {
    grid-column: 1;
    justify-self: center;
  }
}
footer p.rights {
  justify-self: end;
  grid-column: 3 / span 1;
}
@media (max-width: 1000px) {
  footer p.rights {
    justify-self: center;
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
  }
}
footer p span {
  color: #8e959c;
}
footer p span#italic {
  font-style: italic;
}
