* {
  margin: 0;
  outline: none;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background: #fff;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
#wrapper {
  min-width: 450px;
}
div.container {
  display: grid;
  max-width: 1140px;
  margin: 0 auto;
}
span.sep {
  height: 13px;
  display: block;
  margin: 25px auto 65px;
  background: url("../images/separator.png") no-repeat center;
  background-size: 450px;
}
h2.title {
  text-transform: uppercase;
  color: #353535;
  margin: 110px 0 0;
  font: 15px/25px 'GothamRounded-Medium';
}
@font-face {
  font-family: 'GothamRounded-Book';
  src: url('../fonts/GothamRounded-Book.otf');
}
@font-face {
  font-family: 'GothamRounded-BookItalic';
  src: url('../fonts/GothamRounded-BookItalic.otf');
}
@font-face {
  font-family: 'GothamRounded-Medium';
  src: url('../fonts/GothamRounded-Medium.otf');
}
@font-face {
  font-family: 'GothamRounded-MediumItalic';
  src: url('../fonts/GothamRounded-MediumItalic.otf');
}
#wrapper {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  grid-template-rows: minmax(1em, auto) 1fr auto minmax(1em, auto);
}
header {
  text-align: center;
  grid-column: span 8;
  padding: 0 30px 340px;
  background: url("../images/bg-jumbotron.png") no-repeat center;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
  background-size: cover;
}
header nav {
  width: 27px;
  height: 22px;
  right: 100px;
  margin: 65px 0 0;
  justify-self: end;
  position: absolute;
  background: url("../images/hamburger-nav.png") no-repeat center;
}
header nav:hover {
  cursor: pointer;
}
@media (max-width: 600px) {
  header nav {
    left: 460px;
    position: relative;
  }
}
header h1 {
  text-transform: uppercase;
  color: #353535;
  margin: 255px 0 25px;
  letter-spacing: 15px;
  font: 40px/50px 'GothamRounded-Book';
}
header h1 span {
  color: #a4a9ae;
}
@media (max-width: 600px) {
  header h1 {
    font-size: 30px;
  }
}
header p {
  color: #a4a9ae;
  letter-spacing: 4px;
  font: 15px/25px 'GothamRounded-Book';
}
header p span {
  font-family: 'GothamRounded-MediumItalic', sans-serif;
}
header a {
  text-transform: uppercase;
  width: 200px;
  display: block;
  padding: 17px 25px;
  border-radius: 7px;
  color: #fff;
  margin: 67px auto 0;
  background-color: #3dc9b3;
  font: 15px 'GothamRounded-Medium';
  box-shadow: 0 4px 0 0 #309383;
}
div#intro {
  text-align: center;
  justify-items: center;
  justify-content: center;
  grid-column: span 8;
  padding: 0 30px 130px;
  background-color: #f3f5f8;
}
div#intro p {
  max-width: 735px;
  color: #a4a9ae;
  margin: 0 auto;
  font: 14px/30px 'GothamRounded-Medium';
}
div#intro p span {
  color: #353535;
}
