.beige {
  text-transform: uppercase;
  color: #b4ad9e;
  margin-bottom: 30px;
  font: 0.875em 'Ubuntu-Light';
}
@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('../fonts/Inconsolata-Regular.ttf');
}
@font-face {
  font-family: 'Ubuntu-Light';
  src: url('../fonts/Ubuntu-Light.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Black';
  src: url('../fonts/PlayfairDisplay-Black.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-BlackItalic';
  src: url('../fonts/PlayfairDisplay-BlackItalic.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url('../fonts/PlayfairDisplay-Bold.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-BoldItalic';
  src: url('../fonts/PlayfairDisplay-BoldItalic.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url('../fonts/PlayfairDisplay-Regular.ttf');
}
@font-face {
  font-family: 'PlayfairDisplay-Italic';
  src: url('../fonts/PlayfairDisplay-Italic.ttf');
}
/* General */
* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
html,
body {
  height: 100%;
  background: #ffffff;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
#wrapper {
  min-width: 500px;
}
#wrapper header {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px 70px 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}
#wrapper header nav {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#wrapper header nav div {
  letter-spacing: 10px;
  font: 1.875em 'Inconsolata-Regular';
}
@media all and (max-width: 860px) {
  #wrapper header nav div {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
#wrapper header nav ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media all and (max-width: 860px) {
  #wrapper header nav ul {
    display: inline-block;
  }
}
#wrapper header nav ul li {
  padding: 0 40px;
  list-style: none;
}
@media all and (max-width: 860px) {
  #wrapper header nav ul li {
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
    text-align: right;
  }
}
#wrapper header nav ul li a {
  text-transform: uppercase;
  padding-bottom: 10px;
  font: 0.875em 'PlayfairDisplay-Regular';
}
#wrapper header nav ul li a:hover {
  border-bottom: 1px solid #626262;
}
#wrapper header img {
  width: 100%;
  margin: 70px auto 0;
}
@media all and (max-width: 860px) {
  #wrapper header img {
    margin-top: 30px;
  }
}
#wrapper main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #626262;
  margin: 70px 70px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: 'PlayfairDisplay-Regular', sans-serif;
}
@media all and (max-width: 1000px) {
  #wrapper main section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
#wrapper main section#main aside {
  margin-left: 50px;
}
@media all and (max-width: 1000px) {
  #wrapper main section#main aside {
    margin-left: 0;
    margin-bottom: 50px;
  }
}
#wrapper main section#main aside p {
  font-size: 0.75em;
  line-height: 2em;
  margin-bottom: 25px;
}
#wrapper main section#main aside p.beige {
  font-size: 0.875em;
}
#wrapper main section#main aside h2 {
  margin: 30px 0 20px;
}
#wrapper main section#main aside ul li {
  line-height: 2.5em;
  padding-bottom: 10px;
  list-style-type: none;
}
#wrapper main section#main aside ul li p.beige {
  font-size: 0.75em;
  padding-left: 35px;
}
#wrapper main section#main aside ul li:before {
  content: "•";
  color: #b4ad9e;
  padding-right: 30px;
}
#wrapper main section#main aside div.social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#wrapper main section#main aside div.social p:nth-child(1) {
  width: 25px;
  height: 20px;
  background: url("../images/icon-facebook.png") no-repeat top center;
}
#wrapper main section#main aside div.social p:nth-child(2) {
  width: 25px;
  height: 20px;
  padding-left: 7px;
  background: url("../images/icon-instagram.png") no-repeat top center;
}
#wrapper main section#main aside div.social p:nth-child(3) {
  width: 25px;
  height: 20px;
  padding-left: 7px;
  background: url("../images/icon-pinterest.png") no-repeat top center;
}
#wrapper main section#main article {
  margin-left: 70px;
  margin-bottom: 30px;
}
@media all and (max-width: 1000px) {
  #wrapper main section#main article {
    margin-left: 0;
    margin-bottom: 50px;
  }
}
#wrapper main section#main article p {
  font-size: 0.875em;
  line-height: 2em;
}
#wrapper main section#main article p.top {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-right: 30px;
  margin: 0;
}
#wrapper main section#main article h1 {
  font-size: 1.875em;
  margin-bottom: 40px;
}
#wrapper main section#main article img {
  width: 100%;
  max-width: 950px;
  padding-bottom: 50px;
}
#wrapper main section#main article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media all and (max-width: 1000px) {
  #wrapper main section#main article div {
    margin-bottom: 0;
  }
}
#wrapper main section#main article div div.social {
  padding-top: 0;
  margin-bottom: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#wrapper main section#main article div div.social p:nth-child(1) {
  width: 25px;
  height: 20px;
  background: url("../images/icon-facebook.png") no-repeat top center;
}
#wrapper main section#main article div div.social p:nth-child(2) {
  width: 25px;
  height: 20px;
  padding-left: 7px;
  background: url("../images/icon-twitter.png") no-repeat top center;
}
#wrapper main section#main article div div.social p:nth-child(3) {
  width: 25px;
  height: 20px;
  padding-left: 7px;
  background: url("../images/icon-google.png") no-repeat top center;
}
#wrapper main section#main article div div.social p:nth-child(4) {
  width: 25px;
  height: 20px;
  padding-left: 7px;
  background: url("../images/icon-tumblr.png") no-repeat top center;
}
#wrapper main section#main article div div.social p:nth-child(5) {
  width: 25px;
  height: 20px;
  padding-left: 7px;
  background: url("../images/icon-pinterest.png") no-repeat top center;
}
#wrapper main section#main article blockquote {
  margin: 0 30px 40px;
  font-style: italic;
  line-height: 1.5em;
}
#wrapper main section#comments {
  display: block;
  margin-left: 150px;
}
@media all and (max-width: 1000px) {
  #wrapper main section#comments {
    margin-left: 70px;
  }
}
#wrapper main section#comments div.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
}
#wrapper main section#comments div.comment figure {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
#wrapper main section#comments div.comment div.comment-text {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  padding-left: 35px;
}
#wrapper main section#comments div.comment div.comment-text p {
  line-height: 2em;
  font-size: 0.875em;
  margin: 10px 0 20px;
}
#wrapper main section#comments div.comment div.comment-text h4 {
  font: 0.875em 'PlayfairDisplay-Bold', sans-serif;
}
#wrapper main section#comments div.comment div.comment-text input#text {
  width: 90%;
  color: #626262;
  padding: 30px 35px;
  border-radius: 10px;
  border: 1px solid #c8c8c8;
}
#wrapper main section#comments div.comment div.comment-text input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #d8d8d8;
}
#wrapper main section#comments div.comment div.comment-text input:-ms-input-placeholder {
  text-transform: uppercase;
  color: #d8d8d8;
}
#wrapper main section#comments div.comment div.comment-text input::placeholder {
  text-transform: uppercase;
  color: #d8d8d8;
}
#wrapper main div#gallery {
  margin: 0;
  padding: 70px 150px 40px;
  background-color: #f5f5f5;
}
@media all and (max-width: 1000px) {
  #wrapper main div#gallery {
    padding: 70px 70px 40px;
  }
}
#wrapper main div#like-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media all and (max-width: 1000px) {
  #wrapper main div#like-images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#wrapper main div#like-images h1 {
  font-weight: 100;
  color: #626262;
  font-size: 1.25em;
  margin-bottom: 40px;
  font-family: 'PlayfairDisplay-Regular', sans-serif;
}
#wrapper main div#like-images figure {
  padding: 0 40px;
  max-width: 600px;
}
@media all and (max-width: 1000px) {
  #wrapper main div#like-images figure {
    padding: 0;
  }
}
#wrapper main div#like-images figure img {
  width: 100%;
  padding-bottom: 25px;
}
#wrapper main div#like-images figure:first-child {
  padding-left: 0;
}
#wrapper main div#like-images figure:last-child {
  padding-right: 0;
}
#wrapper main div#media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 35px 105px 70px 150px;
}
@media all and (max-width: 1000px) {
  #wrapper main div#media {
    margin-right: 50px;
  }
}
#wrapper main div#media div.social {
  margin-left: 35px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#wrapper main div#media div.social p:nth-child(1) {
  width: 25px;
  height: 20px;
  background: url("../images/icon-twitter.png") no-repeat top center;
}
#wrapper main div#media div.social p:nth-child(2) {
  width: 25px;
  height: 20px;
  padding-left: 7px;
  background: url("../images/icon-facebook-dark.png") no-repeat top center;
}
#wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #3d3d3d;
  font-weight: bold;
  background: #f0f0f0;
  padding: 40px 70px 40px 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'PlayfairDisplay-Regular', sans-serif;
}
@media all and (max-width: 1000px) {
  #wrapper footer {
    padding-left: 70px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
#wrapper footer div#rights {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#wrapper footer div#rights p:first-child {
  margin-right: 20px;
}
#wrapper footer div#follow {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media all and (max-width: 1000px) {
  #wrapper footer div#follow {
    padding-top: 20px;
  }
}
#wrapper footer div#follow div.social {
  padding-top: 4px;
  padding-left: 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
#wrapper footer div#follow div.social p {
  padding: 0 5px;
}
#wrapper footer div#follow div.social p:nth-child(1) {
  width: 25px;
  height: 20px;
  background: url("../images/icon-facebook-dark.png") no-repeat top center;
}
#wrapper footer div#follow div.social p:nth-child(2) {
  width: 25px;
  height: 20px;
  background: url("../images/icon-twitter-dark.png") no-repeat top center;
}
#wrapper footer div#follow div.social p:nth-child(3) {
  width: 25px;
  height: 20px;
  background: url("../images/icon-instagram-dark.png") no-repeat top center;
}
